
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-tempat-wisata--Z93 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .header-sQd {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 11.9rem;

    .rectangle-4-xgy {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
    }
    .logo-destinasyik-2-HDT {
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
    }
    .beranda-CrD {
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.8rem;
      cursor: pointer;
      position: absolute;
      left: 86rem;
      top: 4.4rem;
      color: #000000;
    }
    .kontak-V4d {
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 8.3rem;
      left: 97.5rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .tentang-oLD {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.7rem;
      height: 3rem;
      position: absolute;
      left: 107.5rem;
      top: 4.4rem;
      color: #000000;
    }
    .tour-guide-XGD {
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 12.9rem;
      left: 118.9rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .male-user-Nnd {
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-8trf-tW5 {
    margin-bottom: 2.5rem;
    width: 168.5rem;
    height: 76.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-20-od3 {
      width: 51rem;
      height: 8.2rem;
      position: absolute;
      left: 47.3rem;
      top: 25.4rem;
      background-color: #3a86d4;
      border-radius: 1rem;
    }
    .image-10-8vD {
      background-image: url('REPLACE_IMAGE:1296421eb31acf309ebb728cd3cef55823a9c0d2');
      width: 144rem;
      height: 66.4rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 145.749%;
      background-position: 0 -30.3773rem;
    }
    .instagram-eNm {
      top: 59.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2rem;
      height: 5.2rem;
      position: absolute;
      left: 124.4rem;
    }
    .love-YDF {
      height: 6rem;
      position: absolute;
      left: 132.5rem;
      top: 59rem;
      object-fit: contain;
      vertical-align: top;
      width: 6rem;
    }
    .navbar-detail-4Bb {
      align-items: center;
      box-sizing: border-box;
      height: 7.7rem;
      top: 68.4rem;
      left: 0;
      display: flex;
      flex-direction: column;
      background-color: #d9d9d9;
      padding: 2rem 8.8rem 0rem 37.2rem;
      width: 162.8rem;
      position: absolute;

      .auto-group-egwb-8hF {
        align-items: center;
        flex-shrink: 0;
        margin-right: 58rem;
        display: flex;

        .detail-gCy {
          font-weight: 700;
          line-height: 1.2125;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          color: #000000;
        }
        .lokasi-c6d {
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          cursor: pointer;
          font-size: 3.2rem;
          line-height: 1.2125;
        }
        .harga-YW5 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          color: #3a86d4;
          font-weight: 700;
          line-height: 1.2125;
          margin-right: 2.4rem;
          cursor: pointer;
        }
        .foto-gsB {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          cursor: pointer;
          font-weight: 700;
        }
        .review-ENu {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 3.2rem;
        }
      }
      .rectangle-44-xZo {
        margin: 0rem 56.5rem 1.5rem 0rem;
        width: 9.1rem;
        height: 0.2rem;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .rectangle-46-gVo {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .pantai-parangtritis-dvq {
      width: 57.9rem;
      position: absolute;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-style: italic;
      white-space: nowrap;
      height: 7.8rem;
      left: 4.8rem;
      top: 58.1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .pantai-parangtritis-Z3o {
    margin-left: 12.7rem;
    font-size: 5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    cursor: pointer;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-h7sf-CMf {
    width: 100%;
    height: 288.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-eswp-iqo {
      height: 56.2rem;
      position: absolute;
      left: 12.7rem;
      top: 1.8rem;
      width: 116.7rem;

      .lokasi-Fqj {
        font-weight: 700;
        height: 3.9rem;
        cursor: pointer;
        left: 0;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.2rem;
        position: absolute;
        top: 52.3rem;
      }
      .pantai-parangtritis-adalah-destinasi-pantai-yang-menakjubkan-di-yogyakarta-indonesia-pantai-ini-terkenal-karena-keindahan-alamnya-yang-memukau-dengan-garis-pantai-yang-panjang-pasir-putih-lembut-dan-ombak-yang-memikat-suasana-pantai-parangtritis-juga-dipenuhi-mitos-dan-kepercayaan-lokal-menambahkan-nuansa-mistis-yang-menarik-bagi-pengunjung-selain-panorama-alamnya-yang-menakjubkan-pantai-parangtritis-menawarkan-berbagai-aktivitas-menarik-seperti-naik-delman-di-sepanjang-pantai-menikmati-permainan-layang-layang-atau-menyaksikan-pesona-sunset-yang-spektakuler-pengunjung-juga-dapat-menjelajahi-gua-gua-kecil-di-sekitar-pantai-yang-diyakini-memiliki-nilai-sejarah-dan-keindahan-alam-tersendiri-pantai-parangtritis-juga-dikenal-sebagai-tempat-ritual-keagamaan-terutama-saat-malam-jumat-kliwon-menurut-penanggalan-jawa-ritual-ritual-tersebut-menciptakan-suasana-unik-dan-menarik-bagi-wisatawan-yang-tertarik-dengan-budaya-lokal-dengan-kombinasi-keindahan-alam-keunikan-budaya-dan-beragam-aktivitas-yang-ditawarkan-pantai-parangtritis-menjadi-destinasi-yang-menarik-perhatian-bagi-para-pengunjung-yang-mencari-pengalaman-yang-tak-terlupakan-di-yogyakarta-xEM {
        height: 55.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 116.4rem;
        left: 0;
        top: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        position: absolute;
      }
      .rectangle-39-1VT {
        left: 0;
        top: 49.3rem;
        background-color: #000000;
        width: 116.7rem;
        height: 0.1rem;
        position: absolute;
      }
    }
    .harga-YkH {
      width: 9.4rem;
      height: 3.9rem;
      left: 12.7rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 109.4rem;
      white-space: nowrap;
    }
    .auto-group-ps4d-U89 {
      position: absolute;
      left: 12.7rem;
      top: 168.9rem;
      width: 116.8rem;
      height: 73.7rem;

      .foto-oRK {
        position: absolute;
        left: 0;
        top: 9.5rem;
        font-size: 3.2rem;
        line-height: 1.2125;
        color: #000000;
        height: 3.9rem;
        cursor: pointer;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6.9rem;
        font-weight: 700;
      }
      .rectangle-41-XMK {
        width: 116.7rem;
        height: 0.1rem;
        position: absolute;
        left: 0.1rem;
        top: 6.5rem;
        background-color: #000000;
      }
      .rectangle-26-eRw {
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 116.8rem;
        height: 52.4rem;
      }
      .rectangle-42-vuF {
        height: 56.5rem;
        position: absolute;
        left: 0.1rem;
        top: 17.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        width: 116.7rem;
      }
      .frame-9-2hP {
        top: 20.9rem;
        display: flex;
        align-items: flex-start;
        height: 49.3rem;
        position: absolute;
        left: 3.5rem;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 109.4rem;

        .image-23-m9B {
          margin: 0.4rem 1.9rem 0rem 0rem;
          width: 79.2rem;
          height: 49.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-22-HdK {
          flex-shrink: 0;
          width: 79.2rem;
          height: 50.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .ulasan-DG5 {
      left: 12.7rem;
      top: 251.9rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      font-size: 3.2rem;
      white-space: nowrap;
      width: 10.8rem;
      height: 3.9rem;
    }
    .auto-group-xpeq-jVK {
      width: 113.3rem;
      height: 38.4rem;
      position: absolute;
      left: 12.7rem;
      top: 60.9rem;
      display: flex;
      align-items: flex-start;

      .image-24-SuX {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 67rem;
        height: 38.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .jl-pantai-parangkusumo-pantai-parangtritis-kretek-bantul-daerah-istimewa-yogyakarta-indonesia-55772-NHP {
        max-width: 45rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .rectangle-40-G7s {
      top: 106.4rem;
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
    }
    .rectangle-43-PTP {
      top: 248.9rem;
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
    }
    .line-11-vy7 {
      width: 116.8rem;
      height: 0.1rem;
      position: absolute;
      left: 12.7rem;
      top: 168.6rem;
      background-color: #000000;
    }
    .frame-10-Gn5 {
      width: 117rem;
      height: 52.4rem;
      position: absolute;
      left: 12.6rem;
      top: 116.2rem;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);

      .auto-group-umsf-zTB {
        border-left: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 116.9rem;
        height: 100%;
        position: relative;

        .rectangle-44-sG5 {
          height: 52.3rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
          background-color: #ffffff;
          width: 116.8rem;
        }
        .rectangle-45-cjT {
          width: 116.9rem;
          height: 6.8rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #eaeaea;
        }
        .line-2-Mww {
          width: 0.1rem;
          height: 52.4rem;
          position: absolute;
          left: 58.5rem;
          top: 0;
          background-color: #000000;
        }
        .keterangan-JcH {
          font-size: 2.4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 13.6rem;
          height: 3rem;
          top: 1.8rem;
          text-align: right;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #000000;
          position: absolute;
          left: 21.6rem;
        }
        .line-1-BRB {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 6.9rem;
          background-color: #000000;
          width: 116.8rem;
        }
        .line-12-KXP {
          left: 0.1rem;
          top: 0.1rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-4-pyw {
          position: absolute;
          left: 0.1rem;
          top: 13.4rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
        }
        .line-5-NEm {
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 19.9rem;
        }
        .line-6-ukV {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 26.4rem;
          background-color: #000000;
          width: 116.8rem;
        }
        .line-7-fDs {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 32.9rem;
          background-color: #000000;
          width: 116.8rem;
        }
        .line-8-cQ1 {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 39.4rem;
          background-color: #3a86d4;
        }
        .line-9-hgM {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 39.4rem;
          background-color: #000000;
        }
        .line-10-rJM {
          left: 0.1rem;
          top: 45.9rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .harga-ytm {
          position: absolute;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          width: 7.1rem;
          height: 3rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          left: 84.9rem;
          top: 1.6rem;
        }
        .rp10000-4vD {
          white-space: nowrap;
          position: absolute;
          left: 61.9rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 2.5;
          text-transform: capitalize;
          width: 11.5rem;
          height: 6rem;
          top: 7.3rem;
          text-align: right;
          font-weight: 700;
        }
        .rp100000-30-menit-zYy {
          white-space: nowrap;
          top: 46.3rem;
          line-height: 2.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          width: 25.7rem;
          height: 6rem;
          position: absolute;
          left: 62.8rem;
        }
        .rp50000-30-menit-HHB {
          height: 6rem;
          left: 62.7rem;
          font-weight: 700;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 24.4rem;
          position: absolute;
          top: 39.3rem;
          text-align: right;
          font-size: 2.4rem;
          line-height: 2.5;
          white-space: nowrap;
        }
        .rp70000-Q6u {
          height: 6rem;
          position: absolute;
          top: 33.3rem;
          text-align: right;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          width: 11.7rem;
          left: 61.9rem;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
        }
        .rp30000-vb3 {
          left: 61.9rem;
          top: 26.3rem;
          text-align: right;
          line-height: 2.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 11.9rem;
          position: absolute;
          white-space: nowrap;
          font-weight: 700;
          text-transform: capitalize;
          height: 6rem;
          font-size: 2.4rem;
        }
        .rp10000-rUh {
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
          position: absolute;
          left: 61.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          width: 11.5rem;
          top: 20.3rem;
          text-align: right;
          line-height: 2.5;
          white-space: nowrap;
        }
        .rp3000-8x1 {
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
          text-align: right;
          left: 61.8rem;
          top: 13.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          width: 10.3rem;
          position: absolute;
          color: #000000;
          white-space: nowrap;
        }
        .tiket-masuk-pantai-s8u {
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          width: 22.3rem;
          height: 6rem;
          top: 7.3rem;
          text-align: right;
          white-space: nowrap;
          position: absolute;
          left: 4.8rem;
          line-height: 2.5;
          color: #000000;
        }
        .fasilitas-andong-bKo {
          text-transform: capitalize;
          position: absolute;
          left: 4.8rem;
          font-weight: 700;
          line-height: 2.5;
          font-size: 2.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.7rem;
          height: 6rem;
          top: 26.3rem;
          text-align: right;
        }
        .penyewaan-motor-atv-besar-6nM {
          white-space: nowrap;
          width: 34rem;
          height: 6rem;
          top: 46.3rem;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 4.8rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .penyewaan-motor-atv-kecil-Dry {
          position: absolute;
          top: 39.3rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 33rem;
          height: 6rem;
          left: 4.8rem;
          white-space: nowrap;
        }
        .fasilitas-sandboarding-Lgh {
          left: 4.8rem;
          top: 33.3rem;
          text-align: right;
          font-size: 2.4rem;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          width: 26.8rem;
          position: absolute;
          font-weight: 700;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          height: 6rem;
        }
        .parkir-roda-empat-FHs {
          height: 6rem;
          left: 4.8rem;
          text-align: right;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.5rem;
          top: 20.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          color: #000000;
          position: absolute;
        }
        .parkir-roda-dua-kkR {
          height: 6rem;
          left: 5rem;
          top: 13.3rem;
          font-family: Inter, 'Source Sans Pro';
          width: 18.7rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          position: absolute;
        }
      }
    }
    .klik-untuk-menuju-maps-EQh {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 18.5rem;
      position: absolute;
      left: 34.1rem;
      top: 100rem;
      white-space: nowrap;
      height: 2rem;
    }
    .frame-14-uWq {
      display: flex;
      column-gap: 1.5rem;
      align-items: center;
      left: 12.8rem;
      height: 24.2rem;
      position: absolute;
      top: 258rem;
      overflow: hidden;
      width: 116.7rem;

      .frame-11-2bT {
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;

        .auto-group-cpjh-6rD {
          margin: 0rem 29.7rem 0.8rem 0rem;
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: flex-start;

          .male-user-oEq {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-mwld-isb {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;
            display: flex;

            .andi123-G8R {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
            }
            .image-removebg-preview-2-mL5 {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-ghw {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .frame-12-9Ld {
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-ay21-Gw3 {
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: flex-start;
          margin: 0rem 29.7rem 0.8rem 0rem;

          .male-user-neV {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
          }
          .auto-group-6vt3-wGV {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .andi123-Voo {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
            }
            .image-removebg-preview-2-dQD {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-mmK {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
        }
      }
      .frame-13-qFP {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 0rem 9.6rem 1.4rem;
        width: 158.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;

        .auto-group-o9qb-wZK {
          margin: 0rem 134.9rem 0.8rem 0rem;
          width: calc(100% - 134.9rem);
          display: flex;
          align-items: flex-start;

          .male-user-eyX {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-w7xx-D13 {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;
            display: flex;

            .andi123-AS5 {
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
            }
            .image-removebg-preview-2-JHP {
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 16.1rem;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-SeV {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 7rem;
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
  .footer-6j3 {
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;

    .layer-2-2-2Mo {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-M9B {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
    }
    .auto-group-hg33-HHj {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-vzh3-zxq {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-71s {
          position: absolute;
          left: 0;
          top: 9.9rem;
          font-size: 1.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 2rem;
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          width: 14.2rem;
        }
        .logo-destinasyik-3-aRF {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
        }
      }
      .auto-group-bv7b-WZo {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-rNm {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
        }
        .tiktok-AeM {
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .whatsapp-tqF {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-D6q {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
