
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-tempat-non-wisata--j3f {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .header-qsP {
    width: 100%;
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-a4H {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
    }
    .logo-destinasyik-2-6HX {
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
    }
    .beranda-ohj {
      width: 9.8rem;
      height: 3rem;
      left: 86rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      color: #000000;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      line-height: 1.2125;
    }
    .kontak-VKf {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.3rem;
      height: 3rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      position: absolute;
      left: 97.5rem;
    }
    .tentang-Czm {
      left: 107.5rem;
      font-size: 2.4rem;
      font-weight: 700;
      white-space: nowrap;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 9.7rem;
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      line-height: 1.2125;
    }
    .tour-guide-LLH {
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 12.9rem;
      height: 3rem;
      left: 118.9rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .male-user-dqB {
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-idwh-NXs {
    margin-bottom: 2.5rem;
    width: 168.5rem;
    height: 76.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-20-i5w {
      position: absolute;
      left: 47.3rem;
      top: 25.4rem;
      background-color: #3a86d4;
      border-radius: 1rem;
      width: 51rem;
      height: 8.2rem;
    }
    .image-10-qgM {
      width: 144rem;
      height: 66.4rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .instagram-y1s {
      position: absolute;
      left: 124.4rem;
      top: 59.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2rem;
      height: 5.2rem;
    }
    .love-hCm {
      vertical-align: top;
      width: 6rem;
      height: 6rem;
      position: absolute;
      left: 132.5rem;
      top: 59rem;
      object-fit: contain;
    }
    .navbar-detail-qpm {
      align-items: center;
      display: flex;
      padding: 2rem 8.8rem 0rem 37.2rem;
      width: 162.8rem;
      position: absolute;
      left: 0;
      background-color: #d9d9d9;
      box-sizing: border-box;
      height: 7.7rem;
      top: 68.4rem;
      flex-direction: column;

      .auto-group-uduu-5j7 {
        margin-right: 58rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .detail-Coj {
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #3a86d4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .lokasi-j2y {
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .harga-d8M {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 3.2rem;
          font-weight: 700;
        }
        .foto-Nbj {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
        }
        .review-VwF {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .rectangle-44-F9j {
        margin: 0rem 107.7rem 1.5rem 0rem;
        width: 9.1rem;
        height: 0.2rem;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .rectangle-46-mtm {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .oppio-coffee-milk-Xd3 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      position: absolute;
      font-weight: 700;
      font-style: italic;
      line-height: 1.2125;
      color: #ffffff;
      width: 56rem;
      left: 4.8rem;
      top: 58.1rem;
      font-size: 6.4rem;
    }
  }
  .oppio-coffee-milk-1o7 {
    flex-shrink: 0;
    margin: 0rem 74.8rem 1.8rem 0rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .cafe-oppio-coffee-milik-menjadi-destinasi-terbaru-yang-bakal-meramaikan-wisata-kuliner-di-sleman-jogja-tempat-ini-memiliki-konsep-terbuka-oudoor-yang-begitu-luas-tentunya-sangat-rekomended-untuk-nongkrong-bersama-teman-dan-keluarga-tercinta-nah-bagi-kalian-yang-suka-nongkrong-dan-penikmati-kopi-maka-oppio-cafe-jogja-ini-bisa-dijadikan-destinasi-utama-yang-asyik-untuk-dikunjungi-cafe-baru-di-sleman-jogja-ini-memang-sangat-cocok-bagi-kalian-yang-ingin-nongkrong-dan-memburu-spot-instagramable-disana-dapat-menikmati-aneka-makanannya-saja-sembari-merasakan-hawa-yang-begitu-menenangkan-tak-heran-jika-kedepannya-cafe-oppio-sleman-akan-menjadi-tempat-nongkrong-favorit-di-jogja-jUD {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 2.5rem;
    max-width: 116.1rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .auto-group-acdf-knd {
    width: 100%;
    height: 202.7rem;
    position: relative;
    flex-shrink: 0;

    .lokasi-6Lh {
      left: 12.7rem;
      font-size: 3.2rem;
      line-height: 1.2125;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;
      top: 7.1rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
    }
    .harga-1iZ {
      font-size: 3.2rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 9.4rem;
      position: absolute;
      left: 12.7rem;
      top: 62.4rem;
      height: 3.9rem;
      cursor: pointer;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
    }
    .foto-W9X {
      height: 3.9rem;
      position: absolute;
      left: 12.7rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 6.9rem;
      top: 92.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
    }
    .ulasan-dV3 {
      color: #000000;
      white-space: nowrap;
      width: 10.8rem;
      position: absolute;
      left: 12.7rem;
      top: 166.1rem;
      font-weight: 700;
      line-height: 1.2125;
      height: 3.9rem;
      cursor: pointer;
      font-size: 3.2rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-jy6h-iWV {
      top: 13.9rem;
      display: flex;
      align-items: flex-start;
      width: 116rem;
      height: 38.4rem;
      position: absolute;
      left: 12.7rem;

      .image-24-2n5 {
        height: 38.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 67rem;
      }
      .jam-buka-1400-2200-wib-jl-nglengkong-besi-no11-area-sawah-sukoharjo-kec-ngaglik-kabupaten-sleman-daerah-istimewa-yogyakarta-55581-ANV {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 47.7rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;

        .jam-buka-1400-2200-wib-jl-nglengkong-besi-no11-area-sawah-sukoharjo-kec-ngaglik-kabupaten-sleman-daerah-istimewa-yogyakarta-55581-ANV-sub-0 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
        }
        .jam-buka-1400-2200-wib-jl-nglengkong-besi-no11-area-sawah-sukoharjo-kec-ngaglik-kabupaten-sleman-daerah-istimewa-yogyakarta-55581-ANV-sub-1 {
        }
      }
    }
    .rectangle-40-AfK {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 59.4rem;
      background-color: #000000;
    }
    .rectangle-41-7Kf {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 89.6rem;
      background-color: #000000;
    }
    .rectangle-43-2hX {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 163.1rem;
      background-color: #000000;
    }
    .frame-10-NmP {
      left: 12.6rem;
      top: 69.2rem;
      border-bottom: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
      width: 116.9rem;
      height: 13.5rem;
      position: absolute;

      .auto-group-v3gu-KRj {
        position: relative;
        border-top: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 100%;
        height: 13.4rem;

        .rectangle-44-sCM {
          background-color: #ffffff;
          width: 116.8rem;
          height: 13.4rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
        }
        .rectangle-45-1pM {
          width: 116.9rem;
          height: 6.8rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #eaeaea;
        }
        .keterangan-Lrd {
          width: 13.6rem;
          position: absolute;
          left: 21.6rem;
          color: #000000;
          font-weight: 700;
          line-height: 1.2125;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          top: 1.8rem;
          text-align: right;
          font-size: 2.4rem;
          white-space: nowrap;
        }
        .line-1-daq {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 6.9rem;
          background-color: #000000;
        }
        .line-12-kfT {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 0.1rem;
          background-color: #000000;
        }
        .harga-sk5 {
          top: 1.6rem;
          text-align: right;
          font-size: 2.4rem;
          line-height: 1.2125;
          width: 7.1rem;
          height: 3rem;
          position: absolute;
          left: 84.9rem;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
        }
        .rp20000-rp60000-AjB {
          top: 7.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          color: #000000;
          width: 25.9rem;
          position: absolute;
          left: 61.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 6rem;
          text-align: right;
          text-transform: capitalize;
        }
        .kisaran-ffw {
          left: 4.7rem;
          font-weight: 700;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
          position: absolute;
          font-size: 2.4rem;
          line-height: 2.5;
          color: #000000;
          white-space: nowrap;
          width: 9rem;
          top: 7.3rem;
        }
      }
    }
    .auto-group-u6bk-kBb {
      left: 12.8rem;
      top: 100.3rem;
      border-radius: 2rem;
      position: absolute;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 3.7rem 3.9rem 3.5rem 3.4rem;
      width: 116.7rem;
      height: 56.5rem;

      .frame-9-Fe9 {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;

        .image-23-AWD {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 1.9rem 0rem 0rem;
          width: 79.2rem;
          height: 49.3rem;
        }
        .image-22-th7 {
          height: 50.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 79.2rem;
        }
      }
    }
    .klik-untuk-menuju-maps-QvM {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 18.5rem;
      position: absolute;
      left: 34.1rem;
      top: 53rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.2125;
      font-style: italic;
      height: 2rem;
    }
    .frame-14-6YH {
      height: 24.2rem;
      position: absolute;
      left: 12.8rem;
      top: 172.2rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 116.7rem;

      .frame-11-bzq {
        margin-right: 1.5rem;
        box-sizing: border-box;
        padding: 3.1rem 1.9rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;

        .auto-group-9rnm-uEq {
          margin: 0rem 30.4rem 0.8rem 0rem;
          width: calc(100% - 30.4rem);
          display: flex;
          align-items: flex-start;

          .male-user-pMo {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-dn1x-mXw {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;

            .dina111-uPF {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
            }
            .image-removebg-preview-2-ERX {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .unik-banget-tempatnya-ada-juga-ayunan-dan-kolam-kecil-dipinggir-sawah-lantai-duanya-juga-bisa-buat-working-space-rekomended-banget-buat-santai-sore-disini-B5s {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-left: 7rem;
          max-width: 45.3rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
      .frame-12-RuK {
        position: relative;
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 55.7rem;
        height: 100%;

        .rectangle-46-94d {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
          width: 55.6rem;
          height: 24.2rem;
        }
        .male-user-tH7 {
          width: 5.8rem;
          height: 5.8rem;
          position: absolute;
          left: 1.4rem;
          top: 3.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .image-removebg-preview-2-pwT {
          background-size: 129.839% 102.426%;
          background-position: 0 -0.0412rem;
          background-image: url('REPLACE_IMAGE:b2fa16449500d55aa331002c319c0c919564594d');
          width: 12.4rem;
          height: 3.4rem;
          position: relative;
          left: 7.2rem;
          top: 7.9rem;
        }
        .cukup-kaget-tempat-yg-oke-biasanya-makanannya-ga-enak-aku-pesen-nasi-goreng-seafoodsop-igapisang-coklat-keju-semua-enaak-bgt-sop-iga-dagingnya-banyaakk-6ty {
          height: 9.7rem;
          line-height: 1.2125;
          color: #000000;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          width: 47.3rem;
          position: absolute;
          left: 8.4rem;
          top: 12.1rem;
          font-size: 2rem;
        }
        .rani222-A89 {
          position: absolute;
          left: 8.4rem;
          font-size: 2rem;
          font-weight: 500;
          height: 2.5rem;
          top: 4.7rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.9rem;
        }
      }
      .frame-13-rmf {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 0rem 9.6rem 1.4rem;
        width: 158.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;

        .auto-group-pva9-kMF {
          margin: 0rem 134.9rem 0.8rem 0rem;
          width: calc(100% - 134.9rem);
          display: flex;
          align-items: flex-start;

          .male-user-tCZ {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
          }
          .auto-group-m3rz-2Zf {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .andi123-P9K {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
            }
            .image-removebg-preview-2-3zZ {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 16.1rem;
              height: 3.4rem;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-nBT {
          margin-left: 7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .rectangle-39-E3T {
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.7rem;
      top: 4.1rem;
    }
  }
  .footer-wTf {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;

    .layer-2-2-FDT {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
    }
    .copyright-BN1 {
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-y4fs-KDK {
      flex-shrink: 0;
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;

      .auto-group-lnsm-4Au {
        height: 11.9rem;
        position: relative;
        margin-bottom: 4.9rem;
        width: 100%;

        .webcrafters-nsb {
          width: 14.2rem;
          height: 2rem;
          left: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 9.9rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
        }
        .logo-destinasyik-3-gxy {
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
        }
      }
      .auto-group-vlz5-2X3 {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-BPw {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-hdB {
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-2vM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    .layer-2-1-krM {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
    }
  }
}
