
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-tempat-wisata--kQq {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .header-ULq {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 11.9rem;

    .rectangle-4-DpD {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
    }
    .logo-destinasyik-2-WoK {
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
    }
    .beranda-DBw {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      cursor: pointer;
      left: 86rem;
      top: 4.4rem;
      font-size: 2.4rem;
      width: 9.8rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
    }
    .kontak-hcu {
      left: 97.5rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.3rem;
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      font-weight: 700;
    }
    .tentang-RJ1 {
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.7rem;
      height: 3rem;
      position: absolute;
      line-height: 1.2125;
      left: 107.5rem;
      top: 4.4rem;
      font-size: 2.4rem;
    }
    .tour-guide-VYm {
      width: 12.9rem;
      position: absolute;
      height: 3rem;
      left: 118.9rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .male-user-nGy {
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-zzfb-spD {
    height: 76.1rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    width: 168.5rem;

    .rectangle-20-cG1 {
      width: 51rem;
      height: 8.2rem;
      position: absolute;
      left: 47.3rem;
      top: 25.4rem;
      background-color: #3a86d4;
      border-radius: 1rem;
    }
    .image-10-Y9f {
      background-position: 0 -30.3773rem;
      background-image: url('REPLACE_IMAGE:1296421eb31acf309ebb728cd3cef55823a9c0d2');
      width: 144rem;
      height: 66.4rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 145.749%;
    }
    .instagram-dgu {
      position: absolute;
      left: 124.4rem;
      top: 59.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2rem;
      height: 5.2rem;
    }
    .love-ARw {
      top: 59rem;
      object-fit: contain;
      vertical-align: top;
      width: 6rem;
      height: 6rem;
      position: absolute;
      left: 132.5rem;
    }
    .navbar-detail-Jo3 {
      left: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 2rem 8.8rem 0rem 37.2rem;
      width: 162.8rem;
      height: 7.7rem;
      position: absolute;
      top: 68.4rem;
      background-color: #d9d9d9;

      .auto-group-dmvz-P3o {
        flex-shrink: 0;
        margin-right: 58rem;
        display: flex;
        align-items: center;

        .detail-Ky3 {
          margin-right: 3.1rem;
          line-height: 1.2125;
          color: #3a86d4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 3.2rem;
          font-weight: 700;
          flex-shrink: 0;
        }
        .lokasi-ri5 {
          margin-right: 3.1rem;
          cursor: pointer;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .harga-mq3 {
          cursor: pointer;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.4rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .foto-6MX {
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 3.1rem;
          cursor: pointer;
          font-size: 3.2rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .review-SAV {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .rectangle-44-xPj {
        margin: 0rem 107.7rem 1.5rem 0rem;
        width: 9.1rem;
        height: 0.2rem;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .rectangle-46-rk1 {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .pantai-parangtritis-QmX {
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-size: 6.4rem;
      font-weight: 700;
      color: #ffffff;
      line-height: 1.2125;
      font-style: italic;
      white-space: nowrap;
      width: 57.9rem;
      height: 7.8rem;
      left: 4.8rem;
      top: 58.1rem;
    }
  }
  .pantai-parangtritis-68Z {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 12.7rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-k4ad-Dys {
    width: 100%;
    height: 288.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-rpbf-ZH3 {
      left: 12.7rem;
      top: 1.8rem;
      width: 116.7rem;
      height: 56.2rem;
      position: absolute;

      .lokasi-tKK {
        width: 10.2rem;
        height: 3.9rem;
        cursor: pointer;
        position: absolute;
        white-space: nowrap;
        left: 0;
        top: 52.3rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .pantai-parangtritis-adalah-destinasi-pantai-yang-menakjubkan-di-yogyakarta-indonesia-pantai-ini-terkenal-karena-keindahan-alamnya-yang-memukau-dengan-garis-pantai-yang-panjang-pasir-putih-lembut-dan-ombak-yang-memikat-suasana-pantai-parangtritis-juga-dipenuhi-mitos-dan-kepercayaan-lokal-menambahkan-nuansa-mistis-yang-menarik-bagi-pengunjung-selain-panorama-alamnya-yang-menakjubkan-pantai-parangtritis-menawarkan-berbagai-aktivitas-menarik-seperti-naik-delman-di-sepanjang-pantai-menikmati-permainan-layang-layang-atau-menyaksikan-pesona-sunset-yang-spektakuler-pengunjung-juga-dapat-menjelajahi-gua-gua-kecil-di-sekitar-pantai-yang-diyakini-memiliki-nilai-sejarah-dan-keindahan-alam-tersendiri-pantai-parangtritis-juga-dikenal-sebagai-tempat-ritual-keagamaan-terutama-saat-malam-jumat-kliwon-menurut-penanggalan-jawa-ritual-ritual-tersebut-menciptakan-suasana-unik-dan-menarik-bagi-wisatawan-yang-tertarik-dengan-budaya-lokal-dengan-kombinasi-keindahan-alam-keunikan-budaya-dan-beragam-aktivitas-yang-ditawarkan-pantai-parangtritis-menjadi-destinasi-yang-menarik-perhatian-bagi-para-pengunjung-yang-mencari-pengalaman-yang-tak-terlupakan-di-yogyakarta-bzR {
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        width: 116.4rem;
        height: 55.3rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #000000;
      }
      .rectangle-39-265 {
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 49.3rem;
        background-color: #000000;
        width: 116.7rem;
      }
    }
    .harga-Mu3 {
      font-family: Inter, 'Source Sans Pro';
      width: 9.4rem;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;
      top: 109.4rem;
      font-size: 3.2rem;
      color: #000000;
      left: 12.7rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .foto-UTs {
      font-weight: 700;
      white-space: nowrap;
      width: 6.9rem;
      height: 3.9rem;
      font-size: 3.2rem;
      top: 178.4rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      left: 12.7rem;
    }
    .ulasan-a17 {
      width: 10.8rem;
      height: 3.9rem;
      position: absolute;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      left: 12.7rem;
      top: 251.9rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .auto-group-o545-GuX {
      align-items: flex-start;
      width: 113.3rem;
      height: 38.4rem;
      position: absolute;
      left: 12.7rem;
      top: 60.9rem;
      display: flex;

      .image-24-QF3 {
        width: 67rem;
        height: 38.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 1.3rem;
      }
      .jl-pantai-parangkusumo-pantai-parangtritis-kretek-bantul-daerah-istimewa-yogyakarta-indonesia-55772-8wj {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 45rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
    .rectangle-40-DCV {
      top: 106.4rem;
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
    }
    .rectangle-41-MJh {
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 175.4rem;
      background-color: #000000;
      width: 116.7rem;
    }
    .rectangle-43-GgZ {
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 248.9rem;
      background-color: #000000;
      width: 116.7rem;
    }
    .line-11-29w {
      height: 0.1rem;
      position: absolute;
      left: 12.7rem;
      top: 168.6rem;
      background-color: #000000;
      width: 116.8rem;
    }
    .frame-10-wnh {
      height: 52.4rem;
      position: absolute;
      left: 12.6rem;
      top: 116.2rem;
      border-right: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
      width: 117rem;

      .auto-group-ddnz-69o {
        width: 116.9rem;
        height: 100%;
        position: relative;
        border-left: solid 0.1rem #000000;
        box-sizing: border-box;

        .rectangle-44-DER {
          background-color: #ffffff;
          width: 116.8rem;
          height: 52.3rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
        }
        .rectangle-45-8sB {
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #eaeaea;
          width: 116.9rem;
          height: 6.8rem;
        }
        .line-2-4Vw {
          left: 58.5rem;
          top: 0;
          background-color: #000000;
          width: 0.1rem;
          height: 52.4rem;
          position: absolute;
        }
        .keterangan-QJu {
          left: 21.6rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          width: 13.6rem;
          height: 3rem;
          white-space: nowrap;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 1.8rem;
        }
        .line-1-iKb {
          top: 6.9rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
        }
        .line-12-FqK {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 0.1rem;
          background-color: #000000;
        }
        .line-4-buB {
          position: absolute;
          left: 0.1rem;
          top: 13.4rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
        }
        .line-5-8eD {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 19.9rem;
          background-color: #000000;
        }
        .line-6-Ui5 {
          left: 0.1rem;
          top: 26.4rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-7-dL5 {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 32.9rem;
          background-color: #000000;
        }
        .line-8-M1B {
          left: 0.1rem;
          top: 39.4rem;
          background-color: #3a86d4;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-9-5Sy {
          left: 0.1rem;
          top: 39.4rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-10-pfT {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 45.9rem;
          background-color: #000000;
          width: 116.8rem;
        }
        .harga-7Pf {
          position: absolute;
          left: 84.9rem;
          top: 1.6rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.1rem;
          height: 3rem;
          text-align: right;
          font-weight: 700;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #000000;
        }
        .rp10000-zCZ {
          height: 6rem;
          left: 61.9rem;
          text-align: right;
          line-height: 2.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 11.5rem;
          position: absolute;
          top: 7.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          white-space: nowrap;
        }
        .rp100000-30-menit-gLH {
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 25.7rem;
          position: absolute;
          left: 62.8rem;
          top: 46.3rem;
          font-size: 2.4rem;
          height: 6rem;
          text-align: right;
          font-weight: 700;
          text-transform: capitalize;
          color: #000000;
        }
        .rp50000-30-menit-Y7b {
          text-transform: capitalize;
          width: 24.4rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 6rem;
          position: absolute;
          left: 62.7rem;
          top: 39.3rem;
          color: #000000;
        }
        .rp70000-Fnh {
          white-space: nowrap;
          width: 11.7rem;
          top: 33.3rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 2.5;
          text-transform: capitalize;
          height: 6rem;
          position: absolute;
          left: 61.9rem;
          text-align: right;
          font-weight: 700;
        }
        .rp30000-kjT {
          height: 6rem;
          left: 61.9rem;
          text-transform: capitalize;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          color: #000000;
          width: 11.9rem;
          position: absolute;
          top: 26.3rem;
          text-align: right;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rp10000-5Wq {
          height: 6rem;
          position: absolute;
          left: 61.9rem;
          text-align: right;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.5rem;
          top: 20.3rem;
          font-size: 2.4rem;
          line-height: 2.5;
          text-transform: capitalize;
        }
        .rp3000-19b {
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          font-size: 2.4rem;
          line-height: 2.5;
          width: 10.3rem;
          height: 6rem;
          position: absolute;
          left: 61.8rem;
          top: 13.3rem;
          text-align: right;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
        }
        .tiket-masuk-pantai-gmX {
          white-space: nowrap;
          width: 22.3rem;
          height: 6rem;
          left: 4.8rem;
          top: 7.3rem;
          font-weight: 700;
          text-transform: capitalize;
          position: absolute;
          text-align: right;
          font-size: 2.4rem;
          line-height: 2.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .fasilitas-andong-Cjs {
          text-transform: capitalize;
          color: #000000;
          width: 19.7rem;
          left: 4.8rem;
          text-align: right;
          line-height: 2.5;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 6rem;
          position: absolute;
          top: 26.3rem;
          font-size: 2.4rem;
        }
        .penyewaan-motor-atv-besar-iy7 {
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
          position: absolute;
          left: 4.8rem;
          font-size: 2.4rem;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          width: 34rem;
          top: 46.3rem;
          text-align: right;
          font-weight: 700;
        }
        .penyewaan-motor-atv-kecil-3Eh {
          height: 6rem;
          text-align: right;
          font-weight: 700;
          white-space: nowrap;
          width: 33rem;
          position: absolute;
          left: 4.8rem;
          top: 39.3rem;
          font-size: 2.4rem;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .fasilitas-sandboarding-jNR {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 26.8rem;
          line-height: 2.5;
          color: #000000;
          top: 33.3rem;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          height: 6rem;
          position: absolute;
          left: 4.8rem;
        }
        .parkir-roda-empat-ekH {
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          color: #000000;
          height: 6rem;
          text-align: right;
          left: 4.8rem;
          top: 20.3rem;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.5rem;
          position: absolute;
        }
        .parkir-roda-dua-kYR {
          font-family: Inter, 'Source Sans Pro';
          width: 18.7rem;
          height: 6rem;
          top: 13.3rem;
          font-size: 2.4rem;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 5rem;
          text-align: right;
          font-weight: 700;
        }
      }
    }
    .auto-group-1nos-yRB {
      width: 116.7rem;
      position: absolute;
      left: 12.8rem;
      top: 186.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 3.7rem 3.9rem 3.5rem 3.4rem;
      height: 56.5rem;
      background-color: #ffffff;

      .frame-9-gqP {
        display: flex;
        align-items: flex-start;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .image-23-eGR {
          width: 79.2rem;
          height: 49.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 1.9rem 0rem 0rem;
        }
        .image-22-vDw {
          height: 50.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 79.2rem;
        }
      }
    }
    .klik-untuk-menuju-maps-w93 {
      line-height: 1.2125;
      font-style: italic;
      font-weight: 500;
      height: 2rem;
      position: absolute;
      left: 34.1rem;
      top: 100rem;
      font-size: 1.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 18.5rem;
      white-space: nowrap;
    }
    .frame-14-1eh {
      height: 24.2rem;
      left: 12.8rem;
      top: 258rem;
      overflow: hidden;
      display: flex;
      column-gap: 1.5rem;
      width: 116.7rem;
      position: absolute;
      align-items: center;

      .frame-11-i3K {
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-tcfj-CUH {
          align-items: flex-start;
          margin: 0rem 29.7rem 0.8rem 0rem;
          width: calc(100% - 29.7rem);
          display: flex;

          .male-user-75T {
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
          }
          .auto-group-elx3-rHw {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .andi123-NGH {
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
            }
            .image-removebg-preview-2-He9 {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-pPB {
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-12-gAV {
        box-sizing: border-box;
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;

        .auto-group-3ncq-1Tf {
          margin: 0rem 29.7rem 0.8rem 0rem;
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: flex-start;

          .male-user-YTb {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-ui1o-gJu {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;
            display: flex;

            .andi123-39T {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
            }
            .image-removebg-preview-2-NSd {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-iFb {
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-13-we9 {
        padding: 3.1rem 0rem 9.6rem 1.4rem;
        width: 158.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-ndms-Ue5 {
          margin: 0rem 134.9rem 0.8rem 0rem;
          width: calc(100% - 134.9rem);
          display: flex;
          align-items: flex-start;

          .male-user-1P7 {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-wb3o-XsF {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .andi123-HbX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
            }
            .image-removebg-preview-2-23K {
              flex-shrink: 0;
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-N7B {
          white-space: nowrap;
          margin-left: 7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .footer-QpZ {
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;

    .layer-2-2-LTK {
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
    }
    .copyright-qQ5 {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
    }
    .auto-group-mxwy-ASM {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-webb-HG5 {
        width: 100%;
        height: 11.9rem;
        position: relative;
        margin-bottom: 4.9rem;

        .webcrafters-q2h {
          position: absolute;
          left: 0;
          top: 9.9rem;
          font-size: 1.6rem;
          white-space: nowrap;
          width: 14.2rem;
          height: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .logo-destinasyik-3-M13 {
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-echx-S2V {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-aPb {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-uwf {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .whatsapp-2mP {
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .layer-2-1-NqF {
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.9rem;
      width: 36.3rem;
    }
  }
}
