
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 325.6rem;
}.detail-tempat-disini-YnD {
  white-space: nowrap;
  width: 100%;
  height: 36.4rem;
  font-size: 30rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
