
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-tempat-wisata--8ad {
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .header-EtZ {
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-4-nQH {
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .logo-destinasyik-2-ty7 {
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
    }
    .beranda-zmF {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      left: 86rem;
      top: 4.4rem;
      font-size: 2.4rem;
      color: #000000;
      width: 9.8rem;
      cursor: pointer;
      position: absolute;
      font-weight: 700;
    }
    .kontak-R5s {
      position: absolute;
      left: 97.5rem;
      font-family: Inter, 'Source Sans Pro';
      width: 8.3rem;
      height: 3rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .tentang-Xub {
      line-height: 1.2125;
      width: 9.7rem;
      left: 107.5rem;
      top: 4.4rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
    }
    .tour-guide-qQV {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      top: 4.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 12.9rem;
      height: 3rem;
      position: absolute;
      left: 118.9rem;
    }
    .male-user-MNq {
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
    }
  }
  .auto-group-nvrw-5Jq {
    margin-bottom: 2.5rem;
    width: 168.5rem;
    height: 76.1rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-20-cJm {
      width: 51rem;
      height: 8.2rem;
      position: absolute;
      left: 47.3rem;
      top: 25.4rem;
      background-color: #3a86d4;
      border-radius: 1rem;
    }
    .image-10-Kiy {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 66.4rem;
      position: absolute;
    }
    .instagram-rD7 {
      position: absolute;
      left: 124.4rem;
      top: 59.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2rem;
      height: 5.2rem;
    }
    .love-yHj {
      width: 6rem;
      height: 6rem;
      position: absolute;
      left: 132.5rem;
      top: 59rem;
      object-fit: contain;
      vertical-align: top;
    }
    .navbar-detail-vCy {
      padding: 2rem 8.8rem 0rem 37.2rem;
      height: 7.7rem;
      flex-direction: column;
      background-color: #d9d9d9;
      box-sizing: border-box;
      width: 162.8rem;
      position: absolute;
      left: 0;
      top: 68.4rem;
      align-items: center;
      display: flex;

      .auto-group-pwuw-PsF {
        margin-right: 58rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .detail-LnV {
          line-height: 1.2125;
          color: #3a86d4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
        }
        .lokasi-FeZ {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .harga-zs3 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .foto-kLR {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .review-Voo {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .rectangle-44-ctR {
        margin: 0rem 107.7rem 1.5rem 0rem;
        width: 9.1rem;
        height: 0.2rem;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .rectangle-46-9dT {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .candi-prambanan-6Yh {
      width: 55.5rem;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-style: italic;
      height: 7.8rem;
      position: absolute;
      left: 4.8rem;
      top: 58.1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .candi-prambanan-MzR {
    flex-shrink: 0;
    margin: 0rem 75.2rem 1.8rem 0rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .adalah-kompleks-candi-hindu-terbesar-di-indonesia-yang-dibangun-pada-abad-ke-9-masehi-candi-ini-dipersembahkan-untuk-trimurti-tiga-dewa-utama-hindu-yaitu-brahma-sebagai-dewa-pencipta-wishnu-sebagai-dewa-pemelihara-dan-siwa-sebagai-dewa-pemusnah-berdasarkan-prasati-siwagrha-nama-asli-kompleks-candi-ini-adalah-siwagrha-bahsa-sansekerta-yang-bermakna-rumah-siwa-dan-memang-di-garbagriha-ruang-utama-candi-ini-bersemayam-arca-siwa-mahadewa-setinggi-tiga-meter-yang-menujukkan-bahwa-di-candi-ini-dewa-siwa-lebih-diutamakan-kompleks-candi-ini-terletak-di-kecamatan-prambana-desa-bokoharjo-sleman-daerah-istimewa-yogyakarta-dan-kecamatan-prambanan-klaten-jawa-tengah-kurang-lebih-17-kilometer-timur-laut-yogyakarta-50-kilometer-barat-daya-surakarta-dan-120-kilometer-selatan-semaranag-persis-di-perbatasan-antara-provinsi-jawa-tengah-dan-daerah-istimewa-yogyakarta-letaknya-sangat-unik-candi-prambanan-terletak-di-wilayah-administrasi-desa-bokoharjo-prambanan-sleman-sedangkan-pintu-masuk-kompleks-candi-prambanan-terletak-di-wilayah-adminstrasi-desa-tlogo-prambanan-klaten-jawa-tengah-tUZ {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 2.2rem;
    max-width: 116.4rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .auto-group-cudk-9BX {
    width: 100%;
    height: 226.9rem;
    position: relative;
    flex-shrink: 0;

    .lokasi-SgR {
      font-size: 3.2rem;
      white-space: nowrap;
      position: absolute;
      left: 12.7rem;
      cursor: pointer;
      top: 11.5rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 10.2rem;
      height: 3.9rem;
    }
    .harga-A6d {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      top: 66.8rem;
      font-size: 3.2rem;
      color: #000000;
      width: 9.4rem;
      height: 3.9rem;
      left: 12.7rem;
      font-weight: 700;
    }
    .foto-3w7 {
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      left: 12.7rem;
      top: 116.8rem;
      font-size: 3.2rem;
      color: #000000;
      white-space: nowrap;
      width: 6.9rem;
      height: 3.9rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
    }
    .ulasan-yJy {
      width: 10.8rem;
      left: 12.7rem;
      color: #000000;
      height: 3.9rem;
      cursor: pointer;
      position: absolute;
      top: 190.3rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-n793-QfB {
      display: flex;
      align-items: flex-start;
      width: 112.9rem;
      height: 38.4rem;
      position: absolute;
      left: 12.7rem;
      top: 18.3rem;

      .image-24-LYq {
        margin-right: 1.3rem;
        width: 67rem;
        height: 38.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .jl-raya-solo-yogyakarta-no16-kranggan-bokoharjo-kec-prambanan-kabupaten-sleman-daerah-istimewa-yogyakarta-55571-Uf3 {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 44.6rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .rectangle-40-ZgV {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 63.8rem;
      background-color: #000000;
    }
    .rectangle-41-Vq3 {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 113.8rem;
      background-color: #000000;
    }
    .rectangle-43-End {
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 187.3rem;
      background-color: #000000;
    }
    .frame-10-Za1 {
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
      width: 117rem;
      height: 33rem;
      position: absolute;
      left: 12.6rem;
      top: 73.6rem;
      border-bottom: solid 0.1rem #000000;
      box-sizing: border-box;

      .auto-group-sqpo-VCm {
        height: 32.9rem;
        border-right: solid 0.1rem #000000;
        box-sizing: border-box;
        margin-bottom: 0.1rem;
        width: 100%;

        .auto-group-czr7-SNu {
          box-sizing: border-box;
          width: 116.9rem;
          height: 100%;
          position: relative;
          border-top: solid 0.1rem #000000;

          .rectangle-44-aED {
            width: 116.8rem;
            height: 32.9rem;
            position: absolute;
            left: 0.1rem;
            top: 0;
            background-color: #ffffff;
          }
          .rectangle-45-iLR {
            height: 6.8rem;
            position: absolute;
            left: 0;
            top: 0.1rem;
            background-color: #eaeaea;
            width: 116.9rem;
          }
          .line-13-Too {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 0.05rem;
            height: 32.9rem;
            position: absolute;
            left: 0;
          }
          .keterangan-PSZ {
            position: absolute;
            font-weight: 700;
            text-transform: capitalize;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            color: #000000;
            width: 13.6rem;
            height: 3rem;
            left: 21.6rem;
            top: 1.8rem;
            text-align: right;
            font-size: 2.4rem;
            line-height: 1.2125;
          }
          .line-1-t8R {
            top: 6.9rem;
            background-color: #000000;
            width: 116.8rem;
            height: 0.1rem;
            position: absolute;
            left: 0.1rem;
          }
          .line-12-foP {
            left: 0.1rem;
            top: 0.1rem;
            background-color: #000000;
            width: 116.8rem;
            height: 0.1rem;
            position: absolute;
          }
          .line-5-Qky {
            height: 0.1rem;
            position: absolute;
            left: 0.1rem;
            top: 19.9rem;
            background-color: #000000;
            width: 116.8rem;
          }
          .harga-kK3 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            text-align: right;
            font-size: 2.4rem;
            line-height: 1.2125;
            left: 84.9rem;
            top: 1.6rem;
            font-weight: 700;
            text-transform: capitalize;
            white-space: nowrap;
            width: 7.1rem;
            height: 3rem;
            position: absolute;
          }
          .usia-10-tahun-keatas-rp10000-fgu {
            line-height: 2.5;
            text-transform: capitalize;
            white-space: nowrap;
            position: absolute;
            font-size: 2.4rem;
            left: 64.8rem;
            top: 7.3rem;
            text-align: right;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 37.1rem;
            height: 6rem;
          }
          .usia-3-10-tahun-rp25000-ZnH {
            height: 6rem;
            left: 64.9rem;
            top: 12.5rem;
            text-align: right;
            font-size: 2.4rem;
            text-transform: capitalize;
            white-space: nowrap;
            width: 32.5rem;
            font-weight: 700;
            line-height: 2.5;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
          }
          .usia-10-tahun-keatas-rp375000-dn9 {
            width: 38.8rem;
            top: 20.1rem;
            text-align: right;
            line-height: 2.5;
            white-space: nowrap;
            height: 6rem;
            position: absolute;
            left: 64.9rem;
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .usia-3-10-tahun-rp225000-YeD {
            top: 25.9rem;
            text-align: right;
            line-height: 2.5;
            text-transform: capitalize;
            width: 34rem;
            height: 6rem;
            position: absolute;
            left: 64.8rem;
            white-space: nowrap;
            font-size: 2.4rem;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tiket-masuk-warga-negara-indonesia-pLq {
            width: 43.6rem;
            text-align: right;
            line-height: 2.5;
            white-space: nowrap;
            height: 6rem;
            position: absolute;
            left: 5rem;
            top: 7.3rem;
            font-size: 2.4rem;
            font-weight: 700;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tiket-masuk-warga-negara-asing-g89 {
            top: 20.2rem;
            font-weight: 700;
            color: #000000;
            width: 38.9rem;
            position: absolute;
            font-size: 2.4rem;
            line-height: 2.5;
            text-transform: capitalize;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 6rem;
            left: 4.8rem;
          }
        }
      }
    }
    .auto-group-qrqd-KS1 {
      width: 116.7rem;
      top: 124.5rem;
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 3.5rem 3rem 3.7rem 4.3rem;
      height: 56.5rem;
      position: absolute;
      left: 12.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .frame-9-2LR {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .image-24-kXK {
          width: 79.2rem;
          height: 49.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 1.9rem 0rem 0rem;
        }
        .image-22-sbw {
          height: 50.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 79.2rem;
        }
      }
    }
    .klik-untuk-menuju-maps-kvd {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 34.1rem;
      font-weight: 500;
      line-height: 1.2125;
      font-style: italic;
      width: 18.5rem;
      height: 2rem;
      top: 57.4rem;
      font-size: 1.6rem;
    }
    .frame-14-Gty {
      width: 116.7rem;
      position: absolute;
      left: 12.8rem;
      top: 196.4rem;
      overflow: hidden;
      display: flex;
      column-gap: 1.5rem;
      height: 24.2rem;
      align-items: center;

      .frame-11-BFF {
        width: 55.6rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;

        .auto-group-q5so-gxh {
          margin: 0rem 29.7rem 0.8rem 0rem;
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: flex-start;

          .male-user-CRF {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-z33w-XiR {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .andi123-gbK {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
            }
            .image-removebg-preview-2-17o {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-Y7j {
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-12-zkR {
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 2.6rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;

        .auto-group-zd6q-WCy {
          margin: 0rem 29.7rem 0.8rem 0rem;
          width: calc(100% - 29.7rem);
          display: flex;
          align-items: flex-start;

          .male-user-doP {
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-d8do-z89 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;

            .andi123-wJH {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
            }
            .image-removebg-preview-2-GbT {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-yVs {
          margin-left: 7rem;
          max-width: 44.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-13-Rcm {
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 0rem 9.6rem 1.4rem;
        width: 158.2rem;

        .auto-group-skp5-kuw {
          display: flex;
          align-items: flex-start;
          margin: 0rem 134.9rem 0.8rem 0rem;
          width: calc(100% - 134.9rem);

          .male-user-Vcd {
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
          }
          .auto-group-ohf7-FLu {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;

            .andi123-bvZ {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
            }
            .image-removebg-preview-2-ikH {
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-pHX {
          margin-left: 7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .rectangle-39-VeZ {
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.7rem;
      top: 8.5rem;
    }
  }
  .footer-E6M {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;
    align-items: center;

    .layer-2-2-XbF {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-RwX {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
    }
    .auto-group-vfbf-xgZ {
      width: 14.2rem;
      flex-shrink: 0;
      margin: 0rem 27.4rem 3.2rem 0rem;

      .auto-group-aadx-gMf {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-2gR {
          height: 2rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 500;
          width: 14.2rem;
          top: 9.9rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
        }
        .logo-destinasyik-3-woP {
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
      }
      .auto-group-k9aq-5ub {
        align-items: center;
        margin-left: 0.6rem;
        display: flex;

        .instagram-EXb {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-nJD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .whatsapp-VTX {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-2yF {
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.9rem;
      width: 36.3rem;
    }
  }
}
