
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.foto-non-wisata--Q8Z {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;

  .header-1e9 {
    width: 100%;
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-TW9 {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
    }
    .logo-destinasyik-2-YGh {
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
    }
    .beranda-QJu {
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      width: 9.8rem;
      cursor: pointer;
      left: 86rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .kontak-Nuw {
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 8.3rem;
      height: 3rem;
      white-space: nowrap;
      position: absolute;
      left: 97.5rem;
    }
    .tentang-FD3 {
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-size: 2.4rem;
      white-space: nowrap;
      width: 9.7rem;
      height: 3rem;
      left: 107.5rem;
      top: 4.4rem;
    }
    .tour-guide-HQd {
      color: #000000;
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 12.9rem;
      left: 118.9rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .male-user-gxZ {
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
    }
  }
  .auto-group-kxe9-ao3 {
    height: 76.1rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    width: 168.5rem;

    .rectangle-20-F8V {
      background-color: #3a86d4;
      border-radius: 1rem;
      width: 51rem;
      height: 8.2rem;
      position: absolute;
      left: 47.3rem;
      top: 25.4rem;
    }
    .image-10-8i5 {
      top: 0;
      background-size: 100% 145.749%;
      background-position: 0 -30.3773rem;
      background-image: url('REPLACE_IMAGE:f7740bd961adc8a01bb38b97ef108347eade3086');
      width: 144rem;
      height: 66.4rem;
      position: relative;
      left: 0;
    }
    .instagram-N6d {
      vertical-align: top;
      width: 5.2rem;
      height: 5.2rem;
      position: absolute;
      left: 124.4rem;
      top: 59.4rem;
      object-fit: contain;
    }
    .love-FgD {
      vertical-align: top;
      width: 6rem;
      height: 6rem;
      position: absolute;
      left: 132.5rem;
      top: 59rem;
      object-fit: contain;
    }
    .navbar-detail-ho7 {
      display: flex;
      padding: 2rem 8.8rem 0rem 37.2rem;
      width: 162.8rem;
      left: 0;
      top: 68.4rem;
      align-items: center;
      box-sizing: border-box;
      height: 7.7rem;
      position: absolute;
      flex-direction: column;
      background-color: #d9d9d9;

      .auto-group-6qbt-vA5 {
        margin-right: 58rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .detail-P3f {
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .lokasi-F5s {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
        }
        .harga-L7K {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .foto-3nR {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #3a86d4;
          font-family: Inter, 'Source Sans Pro';
        }
        .review-gqP {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
        }
      }
      .rectangle-44-B1T {
        height: 0.2rem;
        background-color: #3a86d4;
        flex-shrink: 0;
        margin: 0rem 71.9rem 1.5rem 38.1rem;
        width: calc(100% - 110rem);
      }
      .rectangle-46-rtH {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
  }
  .carney-co-i9o {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 12.7rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    cursor: pointer;
    font-size: 5rem;
  }
  .auto-group-iwzw-AGh {
    width: 100%;
    height: 288.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-ce4h-sB7 {
      width: 116.7rem;
      height: 97.5rem;
      position: absolute;
      left: 12.7rem;
      top: 1.8rem;

      .lokasi-iBj {
        top: 52.3rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        width: 10.2rem;
        height: 3.9rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        left: 0;
      }
      .coffee-shop-yang-tengah-naik-daun-di-kalangan-kaum-muda-jogja-jelajahi-dunianya-melalui-media-sosial-di-mana-foto-foto-dan-video-memukau-memancing-rasa-penasaran-anda-terhadap-keunikan-cafe-ini-terletak-strategis-di-pusat-kota-jogja-dan-berdekatan-dengan-berbagai-kampus-carney-co-menjadi-magnet-bagi-para-mahasiswa-yang-ingin-mengerjakan-tugas-atau-sekadar-nongkrong-mengisi-waktu-luang-menawarkan-ketenangan-dengan-lokasi-yang-tersembunyi-dari-keramaian-jalan-besar-cafe-ini-menyajikan-suasana-yang-cocok-untuk-berbagai-kegiatan-bukan-hanya-para-mahasiswa-lokal-tapi-juga-wisatawan-turut-mencicipi-pesona-carney-co-bangunan-cafe-yang-estetik-dan-instagrammable-membuatnya-jadi-daya-tarik-tersendiri-menjadi-surga-bagi-para-pecinta-foto-konsep-minimalis-carney-co-didominasi-oleh-warna-putih-dan-dekorasi-kontras-yang-memukau-di-kamera-tidak-heran-jika-area-outdoor-dengan-bean-bag-berwarna-warni-menjadi-favorit-banyak-pengunjung-menciptakan-pengalaman-tak-terlupakan-di-setiap-kunjungan-jcd {
        width: 116.3rem;
        height: 64.1rem;
        position: absolute;
        left: 0;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        top: 0;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .image-24-fwX {
        width: 67rem;
        position: absolute;
        left: 0;
        top: 59.1rem;
        background-size: 100% 100%;
        border-radius: 1rem;
        height: 38.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:906c13d74104ecc468984a1c70e515116757f7ed');
      }
      .jam-buka-1000-0000-wib-jl-garuni-ii-kledokan-caturtunggal-kec-depok-kabupaten-sleman-daerah-istimewa-yogyakarta-55281-Hxu {
        left: 68.3rem;
        font-size: 2.4rem;
        font-weight: 500;
        color: #000000;
        width: 48.1rem;
        height: 17.5rem;
        position: absolute;
        top: 59.1rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';

        .jam-buka-1000-0000-wib-jl-garuni-ii-kledokan-caturtunggal-kec-depok-kabupaten-sleman-daerah-istimewa-yogyakarta-55281-Hxu-sub-0 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
        }
        .jam-buka-1000-0000-wib-jl-garuni-ii-kledokan-caturtunggal-kec-depok-kabupaten-sleman-daerah-istimewa-yogyakarta-55281-Hxu-sub-1 {
        }
      }
      .rectangle-39-RzZ {
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 49.3rem;
        background-color: #000000;
        width: 116.7rem;
      }
    }
    .harga-8ty {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 12.7rem;
      top: 109.4rem;
      font-size: 3.2rem;
      font-weight: 700;
      white-space: nowrap;
      width: 9.4rem;
      height: 3.9rem;
      cursor: pointer;
    }
    .auto-group-wtf3-8nV {
      height: 73.7rem;
      position: absolute;
      left: 12.7rem;
      top: 168.9rem;
      width: 116.8rem;

      .foto-odj {
        left: 0;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        height: 3.9rem;
        top: 9.5rem;
        font-size: 3.2rem;
        white-space: nowrap;
        width: 6.9rem;
      }
      .rectangle-41-Ej3 {
        background-color: #000000;
        width: 116.7rem;
        height: 0.1rem;
        position: absolute;
        left: 0.1rem;
        top: 6.5rem;
      }
      .rectangle-42-5zZ {
        top: 17.2rem;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        width: 116.7rem;
        height: 56.5rem;
        position: absolute;
        left: 0.1rem;
      }
      .frame-9-LQh {
        align-items: flex-start;
        width: 109.4rem;
        height: 49.3rem;
        position: absolute;
        left: 3.5rem;
        top: 20.9rem;
        overflow: hidden;
        display: flex;

        .image-23-qMT {
          height: 49.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.4rem 1.9rem 0rem 0rem;
          width: 79.2rem;
        }
        .image-22-3iR {
          width: 79.2rem;
          height: 50.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .ulasan-j5T {
      top: 251.9rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      height: 3.9rem;
      left: 12.7rem;
      position: absolute;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 10.8rem;
      cursor: pointer;
    }
    .rectangle-40-vvd {
      position: absolute;
      left: 12.8rem;
      top: 106.4rem;
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
    }
    .rectangle-43-CNM {
      background-color: #000000;
      width: 116.7rem;
      height: 0.1rem;
      position: absolute;
      left: 12.8rem;
      top: 248.9rem;
    }
    .line-11-iLh {
      top: 168.6rem;
      background-color: #000000;
      width: 116.8rem;
      height: 0.1rem;
      position: absolute;
      left: 12.7rem;
    }
    .frame-10-RW1 {
      box-sizing: border-box;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
      width: 117rem;
      height: 52.4rem;
      position: absolute;
      left: 12.6rem;
      top: 116.2rem;
      border-right: solid 0.1rem #000000;

      .auto-group-jbfw-WGZ {
        box-sizing: border-box;
        width: 116.9rem;
        height: 100%;
        position: relative;
        border-left: solid 0.1rem #000000;

        .rectangle-44-9qK {
          width: 116.8rem;
          height: 52.3rem;
          position: absolute;
          left: 0.1rem;
          top: 0;
          background-color: #ffffff;
        }
        .rectangle-45-sFX {
          top: 0.1rem;
          background-color: #eaeaea;
          width: 116.9rem;
          height: 6.8rem;
          position: absolute;
          left: 0;
        }
        .line-2-9yj {
          top: 0;
          background-color: #000000;
          width: 0.1rem;
          height: 52.4rem;
          position: absolute;
          left: 58.5rem;
        }
        .keterangan-3ZK {
          white-space: nowrap;
          position: absolute;
          top: 1.8rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #000000;
          width: 13.6rem;
          height: 3rem;
          left: 21.6rem;
          text-align: right;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
        }
        .line-1-s2Z {
          left: 0.1rem;
          top: 6.9rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-12-Nk1 {
          left: 0.1rem;
          top: 0.1rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-4-tiM {
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 13.4rem;
        }
        .line-5-98V {
          top: 19.9rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
        }
        .line-6-d3f {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 26.4rem;
          background-color: #000000;
          width: 116.8rem;
        }
        .line-7-XPw {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 32.9rem;
          background-color: #000000;
        }
        .line-8-wTf {
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 39.4rem;
          background-color: #3a86d4;
          width: 116.8rem;
        }
        .line-9-FUM {
          top: 39.4rem;
          background-color: #000000;
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
        }
        .line-10-mBo {
          width: 116.8rem;
          height: 0.1rem;
          position: absolute;
          left: 0.1rem;
          top: 45.9rem;
          background-color: #000000;
        }
        .harga-3f7 {
          left: 84.9rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 7.1rem;
          height: 3rem;
          position: absolute;
          top: 1.6rem;
          text-align: right;
          font-weight: 700;
          text-transform: capitalize;
          white-space: nowrap;
        }
        .rp10000-X4V {
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
          position: absolute;
          left: 61.9rem;
          top: 7.3rem;
          text-align: right;
          text-transform: capitalize;
          color: #000000;
          width: 11.5rem;
          height: 6rem;
          white-space: nowrap;
        }
        .rp100000-30-menit-ANM {
          position: absolute;
          top: 46.3rem;
          text-transform: capitalize;
          white-space: nowrap;
          width: 25.7rem;
          height: 6rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          left: 62.8rem;
          text-align: right;
        }
        .rp50000-30-menit-9k5 {
          text-transform: capitalize;
          white-space: nowrap;
          width: 24.4rem;
          height: 6rem;
          left: 62.7rem;
          text-align: right;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          top: 39.3rem;
          font-size: 2.4rem;
          font-weight: 700;
          color: #000000;
        }
        .rp70000-bc5 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
          position: absolute;
          line-height: 2.5;
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          white-space: nowrap;
          width: 11.7rem;
          left: 61.9rem;
          top: 33.3rem;
        }
        .rp30000-T8V {
          top: 26.3rem;
          font-size: 2.4rem;
          width: 11.9rem;
          height: 6rem;
          position: absolute;
          left: 61.9rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: right;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
        }
        .rp10000-Grd {
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          text-transform: capitalize;
          color: #000000;
          white-space: nowrap;
          width: 11.5rem;
          position: absolute;
          left: 61.9rem;
          top: 20.3rem;
          line-height: 2.5;
          font-family: Inter, 'Source Sans Pro';
          height: 6rem;
        }
        .rp3000-XXf {
          line-height: 2.5;
          text-transform: capitalize;
          width: 10.3rem;
          height: 6rem;
          position: absolute;
          top: 13.3rem;
          text-align: right;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          left: 61.8rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .tiket-masuk-pantai-xcy {
          height: 6rem;
          top: 7.3rem;
          text-align: right;
          font-size: 2.4rem;
          line-height: 2.5;
          text-transform: capitalize;
          width: 22.3rem;
          left: 4.8rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .fasilitas-andong-cBj {
          left: 4.8rem;
          text-align: right;
          text-transform: capitalize;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.7rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          color: #000000;
          height: 6rem;
          top: 26.3rem;
        }
        .penyewaan-motor-atv-besar-oGD {
          left: 4.8rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 2.5;
          height: 6rem;
          position: absolute;
          top: 46.3rem;
          text-align: right;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 34rem;
        }
        .penyewaan-motor-atv-kecil-GQh {
          text-align: right;
          font-size: 2.4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 6rem;
          position: absolute;
          left: 4.8rem;
          top: 39.3rem;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
          width: 33rem;
        }
        .fasilitas-sandboarding-tS5 {
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 26.8rem;
          height: 6rem;
          position: absolute;
          top: 33.3rem;
          text-transform: capitalize;
          left: 4.8rem;
          text-align: right;
          font-size: 2.4rem;
          line-height: 2.5;
        }
        .parkir-roda-empat-KnH {
          height: 6rem;
          position: absolute;
          top: 20.3rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.5rem;
          left: 4.8rem;
          text-align: right;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          color: #000000;
        }
        .parkir-roda-dua-x4Z {
          width: 18.7rem;
          position: absolute;
          top: 13.3rem;
          text-align: right;
          font-weight: 700;
          line-height: 2.5;
          text-transform: capitalize;
          white-space: nowrap;
          height: 6rem;
          left: 5rem;
          font-size: 2.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .klik-untuk-menuju-maps-ixq {
      position: absolute;
      top: 100rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      width: 18.5rem;
      height: 2rem;
      left: 34.1rem;
      font-weight: 500;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      white-space: nowrap;
    }
    .frame-14-XfP {
      left: 12.8rem;
      top: 258rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 116.7rem;
      height: 24.2rem;
      position: absolute;

      .frame-11-vSd {
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 1.5rem;
        box-sizing: border-box;
        padding: 3.1rem 1.9rem 2.4rem 1.4rem;
        width: 55.6rem;
        height: 100%;

        .auto-group-edtm-Q6u {
          display: flex;
          align-items: flex-start;
          margin: 0rem 30.4rem 0.8rem 0rem;
          width: calc(100% - 30.4rem);

          .male-user-HgV {
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
          }
          .auto-group-omvb-1Mb {
            margin-top: 1.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .dina111-VXf {
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
            }
            .image-removebg-preview-2-xw3 {
              vertical-align: top;
              flex-shrink: 0;
              width: 16.1rem;
              height: 3.4rem;
              object-fit: cover;
            }
          }
        }
        .unik-banget-tempatnya-ada-juga-ayunan-dan-kolam-kecil-dipinggir-sawah-lantai-duanya-juga-bisa-buat-working-space-rekomended-banget-buat-santai-sore-disini-ENm {
          margin-left: 7rem;
          max-width: 45.3rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .frame-12-ZpM {
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 55.7rem;
        height: 100%;
        position: relative;

        .rectangle-46-sq3 {
          background-color: #ffffff;
          border-radius: 2rem;
          width: 55.6rem;
          height: 24.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .male-user-ktq {
          width: 5.8rem;
          height: 5.8rem;
          position: absolute;
          left: 1.4rem;
          top: 3.1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .image-removebg-preview-2-Rzy {
          position: relative;
          left: 7.2rem;
          top: 7.9rem;
          background-size: 129.839% 102.426%;
          background-position: 0 -0.0412rem;
          background-image: url('REPLACE_IMAGE:b2fa16449500d55aa331002c319c0c919564594d');
          width: 12.4rem;
          height: 3.4rem;
        }
        .cukup-kaget-tempat-yg-oke-biasanya-makanannya-ga-enak-aku-pesen-nasi-goreng-seafoodsop-igapisang-coklat-keju-semua-enaak-bgt-sop-iga-dagingnya-banyaakk-sc5 {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 47.3rem;
          left: 8.4rem;
          top: 12.1rem;
          font-size: 2rem;
          font-weight: 500;
          height: 9.7rem;
          position: absolute;
          color: #000000;
        }
        .rani222-o8M {
          height: 2.5rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          width: 7.9rem;
          position: absolute;
          left: 8.4rem;
          top: 4.7rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .frame-13-PsF {
        width: 158.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.1rem 0rem 9.6rem 1.4rem;

        .auto-group-fyuf-tJD {
          margin: 0rem 134.9rem 0.8rem 0rem;
          width: calc(100% - 134.9rem);
          display: flex;
          align-items: flex-start;

          .male-user-k5X {
            vertical-align: top;
            flex-shrink: 0;
            width: 5.8rem;
            height: 5.8rem;
            object-fit: contain;
          }
          .auto-group-d6a5-cdX {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 1.6rem;
            display: flex;

            .andi123-kDw {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.7rem 1.2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
            }
            .image-removebg-preview-2-B4M {
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 16.1rem;
            }
          }
        }
        .tempat-yang-sangat-menarik-untuk-dikunjungi-lokasi-yang-strategis-dan-juga-pemandangan-yang-indah-cocok-untuk-liburan-dengan-teman-maupun-keluarga-eyX {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 7rem;
          font-size: 2rem;
        }
      }
    }
  }
  .footer-cJ5 {
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .layer-2-2-f1T {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
    }
    .copyright-Yb3 {
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ut5w-cqo {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-jd8d-6W5 {
        height: 11.9rem;
        position: relative;
        margin-bottom: 4.9rem;
        width: 100%;

        .webcrafters-BXX {
          height: 2rem;
          position: absolute;
          top: 9.9rem;
          font-size: 1.6rem;
          width: 14.2rem;
          left: 0;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .logo-destinasyik-3-G3B {
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
        }
      }
      .auto-group-jlid-XUu {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-RqB {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-HsP {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
        }
        .whatsapp-wS9 {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-FBw {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
