
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-dah-login-cwb {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;

  .header-KLD {
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-4-fQ5 {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
    }
    .logo-destinasyik-2-BNR {
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
    }
    .beranda-uZK {
      width: 9.8rem;
      height: 3rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #000000;
      position: absolute;
      left: 86rem;
      top: 4.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .kontak-bS9 {
      top: 4.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 8.3rem;
      height: 3rem;
      position: absolute;
      left: 97.5rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
    }
    .tentang-K7F {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 9.7rem;
      position: absolute;
      top: 4.4rem;
      height: 3rem;
      left: 107.5rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .tour-guide-Rvy {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 118.9rem;
      top: 4.4rem;
      width: 12.9rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
    }
    .male-user-iv5 {
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
    }
  }
  .auto-group-ewwb-Ff7 {
    background-size: 100% 100%;
    background-position: center;
    flex-shrink: 0;
    margin-bottom: 3.2rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    background-image: url('REPLACE_IMAGE:37bfbc1b9169b6db0667c5e29a3730561072c1a2');
    box-sizing: border-box;
    padding: 17.8rem 1.8rem 1.4rem 7.8rem;
    flex-direction: column;
    background-repeat: no-repeat;

    .bingung-mau-pergi-kemana-destinasyik-solusi-nya-Njj {
      margin: 0rem 45.4rem 13.2rem 0rem;
      max-width: 89rem;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .easy-way-to-find-and-go-Emw {
      font-style: italic;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
    }
  }
  .rekomendasi-bulan-ini-5Xf {
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin-right: 0.6rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
  }
  .auto-group-6ppw-Bqb {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.2rem 8rem 4.4rem 7.6rem;
    width: 100%;
    align-items: center;

    .auto-group-jj3f-UZo {
      flex-shrink: 0;
      margin: 0rem 9.7rem 6.1rem 9.6rem;
      width: calc(100% - 19.3rem);
      height: 35rem;
      display: flex;
      align-items: center;

      .auto-group-eagh-Pwf {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 4.3rem;
        height: 100%;

        .auto-group-k4zd-YJm {
          margin-right: 4.3rem;
          padding: 1.8rem 2.7rem 1rem 2.7rem;
          width: 33.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          box-sizing: border-box;
          border-radius: 2rem;
          flex-shrink: 0;

          .malioboro-ESV {
            margin: 0rem 16.3rem 1.7rem 0rem;
            font-weight: 700;
            line-height: 1.2125;
            font-style: italic;
            flex-shrink: 0;
            font-size: 2.4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .image-1-XgV {
            margin: 0rem 0.1rem 1.8rem 0rem;
            width: 28rem;
            height: 14rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .jalan-ikonik-di-yogyakarta-pusat-perbelanjaan-dan-hiburan-malam-dengan-suasana-khas-pedagang-kaki-lima-dan-lampu-neon-yang-menarik-Ta9 {
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.9rem 0rem;
            max-width: 26.9rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .back-arrow-UEM {
            flex-shrink: 0;
            margin-left: 24.7rem;
            width: 3.4rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-wmu3-FeR {
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 1.8rem 2.6rem 1rem 2.7rem;
          width: 33.5rem;
          align-items: center;
          display: flex;
          box-sizing: border-box;

          .candi-prambanan-9zh {
            font-size: 2.4rem;
            font-weight: 700;
            font-style: italic;
            color: #000000;
            flex-shrink: 0;
            margin: 0rem 7.4rem 1.7rem 0rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .image-2-sfo {
            margin: 0rem 0.2rem 1.8rem 0rem;
            width: 28rem;
            height: 14rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .keindahan-hindu-abad-ke-9-di-yogyakarta-siluet-megah-dan-relief-ukiran-menciptakan-potret-budaya-indonesia-yang-memukau-WCy {
            flex-shrink: 0;
            margin: 0rem 2.6rem 0.9rem 0rem;
            max-width: 25.4rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .back-arrow-meh {
            margin-left: 24.8rem;
            width: 3.4rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-zgau-3cD {
        align-items: center;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.8rem 1.8rem 2.6rem;
        width: 33.5rem;
        background-color: #f2f2f2;
        height: 100%;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;

        .keraton-jogja-N8h {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          margin: 0rem 11.8rem 1.8rem 0rem;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .image-3-Gzm {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 1.8rem 0.1rem;
          width: 28rem;
          height: 14rem;
        }
        .keelokan-arsitektur-jawa-kehijauan-taman-dan-pesona-sejarah-yang-terpancar-suasana-hangat-dan-detail-artistik-yang-memikat-perhatian-D9K {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.2rem 0.2rem 0rem;
          max-width: 26.7rem;
          font-size: 1.5rem;
          font-weight: 500;
        }
        .back-arrow-4Qq {
          width: 3.4rem;
          height: 3.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 24.5rem;
        }
      }
    }
    .auto-group-seuy-mKF {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.7rem 5.2rem 8.9rem;
      width: calc(100% - 18.6rem);
      height: 3.5rem;
      display: flex;

      .auto-group-pwgh-HoP {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2125;
        color: #ffffff;
        display: flex;
        justify-content: center;
        background-color: #3a86d4;
        border-radius: 2rem 0 0 2rem;
        width: 4.1rem;
        font-size: 2.4rem;
        white-space: nowrap;
        height: 100%;
        align-items: center;
      }
      .auto-group-gqzt-myT {
        display: flex;
        border-radius: 0 2rem 2rem 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 2rem 0rem 1.7rem;
        align-items: center;
        background-color: #f2f2f2;
        margin-right: 48.6rem;
        height: 100%;

        .non-wisata-VuT {
          color: #000000;
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 1rem 0rem 0rem;
        }
        .rectangle-28-xo3 {
          margin-right: 1.6rem;
          width: 0.2rem;
          height: 3.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .wisata-TE1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-top: 0.1rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2.4rem;
        }
      }
      .auto-group-sh5s-MqB {
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;
        padding: 0.3rem 10rem 0.2rem 1.6rem;
        display: flex;
        background-color: #f2f2f2;
        flex-shrink: 0;

        .search-taD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 5.7rem 0rem 0rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .search-pTs {
          font-style: italic;
          color: #7e7e7e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
    }
    .frame-3-5Po {
      margin-bottom: 3.6rem;
      box-sizing: border-box;
      padding: 1.5rem;
      align-items: center;
      border-radius: 1.5rem;
      width: 100%;
      height: 27.7rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;

      .image-2-1oF {
        width: 52.7rem;
        height: 24.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .frame-2-wB7 {
        margin: 1.35rem 0;
        width: 68.2rem;
        height: calc(100% - 2.7rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mbz1-5HK {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 6.5rem;

          .pantai-parangtritis-DuK {
            font-size: 3.6rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-style: italic;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .keindahan-pasir-putih-ombak-menarik-dan-nuansa-mistis-aktivitas-seru-dan-budaya-bersatu-dalam-destinasi-singkat-x6D {
            flex-shrink: 0;
            max-width: 64.3rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-1-REh {
          line-height: 1.2125;
          background-color: #3986d8;
          font-size: 2rem;
          white-space: nowrap;
          align-items: center;
          width: 100%;
          height: 4.4rem;
          display: flex;
          border-radius: 1.2rem;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 500;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
        }
      }
    }
    .frame-4-f93 {
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 3.6rem;
      padding: 1.5rem;
      width: 100%;
      height: 26.2rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;

      .image-2-oW9 {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.7rem;
        height: 23.2rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-2-id7 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.6rem 0;
        width: 68.2rem;
        height: calc(100% - 1.2rem);
        align-items: center;
        display: flex;

        .auto-group-7twx-G8q {
          box-sizing: border-box;
          padding-bottom: 6.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .candi-prambanan-oeZ {
            line-height: 1.2125;
            color: #000000;
            font-size: 3.6rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-style: italic;
          }
          .keindahan-hindu-abad-ke-9-di-yogyakarta-siluet-megah-dan-relief-ukiran-menciptakan-potret-budaya-indonesia-yang-memukau-vUH {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 63.2rem;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        .frame-1-o2H {
          border-radius: 1.2rem;
          background-color: #3986d8;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          width: 100%;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          height: 4.4rem;
          font-size: 2rem;
          font-weight: 500;
          flex-shrink: 0;
        }
      }
    }
    .frame-6-2vd {
      box-sizing: border-box;
      height: 29.7rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-bottom: 3.6rem;
      width: 100%;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1.5rem;
      padding: 1.5rem;

      .image-14-krd {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.8rem;
        height: 26.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .frame-2-TFF {
        flex-shrink: 0;
        width: 68.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-3ist-c89 {
          box-sizing: border-box;
          padding-bottom: 3.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .tepi-sawah-coffee-eatery-wgD {
            line-height: 1.2125;
            font-style: italic;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.6rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.8rem;
            color: #000000;
          }
          .sesuai-namanya-kafe-ini-tepat-berada-di-tepi-sawah-dengan-bangunan-utama-berbentuk-joglo-kafe-ini-mengusung-konsep-tradisional-jawa-tepi-sawah-juga-menyediakan-outdoor-yang-pastinya-seru-saat-dipakai-untuk-berkumpul-dengan-keluarga-maupun-teman-paling-pas-datang-ke-kafe-ini-saat-sore-hari-sembari-menikmati-sunset-RbP {
            flex-shrink: 0;
            max-width: 68rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-1-2r5 {
          color: #ffffff;
          width: 100%;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          background-color: #3986d8;
          display: flex;
          border-radius: 1.2rem;
          height: 4.4rem;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-vvdx-H1K {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 51.8rem 0rem 51.9rem;
      width: calc(100% - 103.7rem);
      height: 3.5rem;
      display: flex;
      column-gap: 2.1rem;

      .auto-group-e1vs-Aqo {
        width: 4.6rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        background-color: #f2f2f2;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
      }
      .auto-group-tadf-rid {
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 2rem;
        width: 4.6rem;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        height: 100%;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        flex-shrink: 0;
      }
      .auto-group-7wbj-6ss {
        flex-shrink: 0;
        white-space: nowrap;
        justify-content: center;
        border-radius: 2rem;
        line-height: 1.2125;
        align-items: center;
        background-color: #f2f2f2;
        width: 4.6rem;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        font-size: 1.6rem;
        font-weight: 700;
        color: #000000;
      }
      .auto-group-6ehw-o1b {
        align-items: center;
        border-radius: 2rem;
        color: #000000;
        font-weight: 700;
        width: 4.6rem;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        background-color: #f2f2f2;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        white-space: nowrap;
      }
    }
  }
  .footer-5jo {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .layer-2-2-cUq {
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
    }
    .copyright-vVX {
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-5mow-TEZ {
      flex-shrink: 0;
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;

      .auto-group-vfpd-mW9 {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-igH {
          white-space: nowrap;
          position: absolute;
          top: 9.9rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 14.2rem;
          height: 2rem;
          left: 0;
          line-height: 1.2125;
        }
        .logo-destinasyik-3-bzy {
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
      }
      .auto-group-kroo-7TX {
        align-items: center;
        margin-left: 0.6rem;
        display: flex;

        .instagram-TXP {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
        }
        .tiktok-kmP {
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-uPP {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-ebs {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
