
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-2-dCm {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-9B7 {
    width: 100%;
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-ggq {
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
    }
    .logo-destinasyik-2-xuF {
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
    }
    .beranda-V8V {
      position: absolute;
      top: 4.4rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 9.8rem;
      height: 3rem;
      cursor: pointer;
      white-space: nowrap;
      left: 86rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .kontak-ndP {
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 8.3rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      left: 97.5rem;
    }
    .tentang-Jbj {
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 9.7rem;
      left: 107.5rem;
      top: 4.4rem;
    }
    .tour-guide-Dyb {
      height: 3rem;
      left: 118.9rem;
      top: 4.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 12.9rem;
      position: absolute;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
    }
    .male-user-tZw {
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
    }
  }
  .auto-group-6fn1-oS1 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.3rem 8.5rem 5rem 7.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-yasb-vWd {
      height: 3.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10.5rem 4.4rem 8.1rem;
      width: calc(100% - 18.6rem);

      .auto-group-nc3b-1ny {
        height: 100%;
        line-height: 1.2125;
        display: flex;
        border-radius: 2rem 0 0 2rem;
        width: 4.1rem;
        font-size: 2.4rem;
        color: #ffffff;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .auto-group-zlqh-JXB {
        align-items: center;
        background-color: #f2f2f2;
        margin-right: 48.6rem;
        padding: 0rem 2rem 0rem 1.7rem;
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        border-radius: 0 2rem 2rem 0;

        .non-wisata-Du3 {
          cursor: pointer;
          font-size: 2.4rem;
          font-weight: 700;
          white-space: nowrap;
          margin: 0.1rem 1rem 0rem 0rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rectangle-33-k8H {
          margin-right: 1.6rem;
          width: 0.2rem;
          height: 3.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .wisata-rh7 {
          color: #000000;
          white-space: nowrap;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          flex-shrink: 0;
          margin-top: 0.1rem;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-n4bb-LcH {
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 0.3rem 10rem 0.2rem 1.6rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        height: 100%;
        align-items: center;
        background-color: #f2f2f2;
        flex-shrink: 0;

        .search-feZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 5.7rem 0rem 0rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .search-Nos {
          font-style: italic;
          color: #7e7e7e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
        }
      }
    }
    .frame-3-oPP {
      height: 32.8rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 1.5rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 3.6rem;

      .image-15-vD7 {
        width: 52.7rem;
        height: 29.8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .frame-2-44R {
        width: 68.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-ddh3-aoT {
          padding-bottom: 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .carney-co-jRT {
            color: #000000;
            line-height: 1.2125;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 3.6rem;
            font-weight: 700;
          }
          .cafe-carney-co-memiliki-arsitektur-yang-dominan-warna-putih-dengan-aksen-warna-pirus-yang-indah-uniknya-cafe-carney-co-memiliki-bangunan-berbentuk-piramida-dengan-rangka-warna-merah-jambu-dan-panel-kaca-area-sekitar-bangunan-ini-biasa-digunakan-untuk-acara-live-music-atau-sebagai-wedding-venue-bagian-indoor-nya-menyediakan-tempat-untuk-bersantai-seperti-area-bean-bag-sofa-dan-tempat-duduk-lainnya-fa1 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 68rem;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        .frame-1-dv9 {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          background-color: #3986d8;
          border-radius: 1.2rem;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          height: 4.4rem;
          cursor: pointer;
          white-space: nowrap;
          width: 100%;
          display: flex;
        }
      }
    }
    .frame-4-3U5 {
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 3.6rem;
      box-sizing: border-box;
      padding: 1.5rem;
      width: 100%;
      height: 26.2rem;
      display: flex;
      background-color: #ffffff;

      .image-1-ngZ {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.3rem;
        height: 23.2rem;
        object-fit: cover;
      }
      .frame-2-JQ1 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.6rem 0;
        width: 68.6rem;
        height: calc(100% - 1.2rem);
        align-items: center;
        display: flex;

        .auto-group-ugfk-dhB {
          padding-bottom: 6.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .taman-pintar-b8D {
            margin-bottom: 1.8rem;
            font-size: 3.6rem;
            font-style: italic;
            white-space: nowrap;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .gabungan-alam-dan-inovasi-dalam-taman-teratur-dengan-instalasi-seni-modern-menciptakan-pengalaman-visual-yang-cerdas-dan-inspiratif-iid {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 67.2rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .frame-1-cJD {
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          font-weight: 500;
          line-height: 1.2125;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          background-color: #3986d8;
          border-radius: 1.2rem;
          width: 100%;
          height: 4.4rem;
          flex-shrink: 0;
        }
      }
    }
    .frame-5-4AD {
      box-sizing: border-box;
      width: 100%;
      height: 29.7rem;
      background-color: #ffffff;
      border-radius: 1.5rem;
      margin-bottom: 3.6rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      padding: 1.5rem 1.4rem 1.5rem 1.5rem;

      .image-16-yHB {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.3rem;
        height: 26.7rem;
        object-fit: cover;
      }
      .frame-2-78V {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .oppio-coffee-milk-ffo {
          margin-bottom: 1.8rem;
          line-height: 1.2125;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 700;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .cafe-hits-jogja-selanjutnya-ada-oppio-coffee-milk-memiliki-konsep-suasana-alam-cafe-ini-memberikan-kamu-kesempatan-untuk-memanjakan-mata-dengan-melihat-hamparan-sawah-hijau-di-sekelilingnya-ada-lapangan-basket-dan-beberapa-anjing-kecil-yang-bisa-menjadi-pelepas-penatmu-juga-loh-dijamin-suasana-kafe-di-sini-bisa-buat-kamu-betah-berlama-lama-zxy {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          max-width: 68.7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .frame-1-ZPo {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 1.2rem;
          line-height: 1.2125;
          height: 4.4rem;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          width: 68.6rem;
          background-color: #3986d8;
          font-weight: 500;
          align-items: center;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
    }
    .frame-6-P7w {
      margin-bottom: 3.6rem;
      box-sizing: border-box;
      padding: 1.5rem;
      height: 22rem;
      display: flex;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;

      .image-2-vtZ {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.2rem;
        height: 19rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .frame-2-dY5 {
        width: 68.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dfsw-zNd {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.5rem;

          .keraton-jogja-wof {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-weight: 700;
            font-style: italic;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.6rem;
            line-height: 1.2125;
          }
          .keelokan-arsitektur-jawa-kehijauan-taman-dan-pesona-sejarah-yang-terpancar-suasana-hangat-dan-detail-artistik-yang-memikat-perhatian-H6q {
            max-width: 66.9rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .frame-1-mGu {
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          height: 4.4rem;
          white-space: nowrap;
          background-color: #3986d8;
          font-weight: 500;
          font-size: 2rem;
          color: #ffffff;
          justify-content: center;
          width: 100%;
          display: flex;
          border-radius: 1.2rem;
          line-height: 1.2125;
        }
      }
    }
    .frame-7-ozH {
      margin-bottom: 5rem;
      box-sizing: border-box;
      padding: 1.5rem;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 29.7rem;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .image-17-8Fs {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.5rem;
        height: 26.7rem;
        object-fit: cover;
      }
      .frame-2-fmb {
        flex-direction: column;
        flex-shrink: 0;
        width: 68.4rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-vubo-oso {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 3.9rem;
          width: 100%;

          .epic-coffee-ATT {
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-size: 3.6rem;
          }
          .epic-coffee-hadir-dengan-konsep-bangunan-industrial-dan-classic-bangunan-yang-terbuka-dengan-penataan-ruangan-yang-dirancang-sedemikian-rupa-sehingga-tampak-luas-dan-lapang-selain-itu-chef-dan-barista-epic-coffee-semuanya-profesional-jadi-kamu-akan-nyaman-nongkrong-di-sini-sambil-menikmati-hidangan-lezatnya-W1X {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 68.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .frame-1-6VX {
          font-size: 2rem;
          background-color: #3986d8;
          border-radius: 1.2rem;
          height: 4.4rem;
          line-height: 1.2125;
          width: 100%;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-h3cd-NT3 {
      height: 3.5rem;
      display: flex;
      column-gap: 2.1rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 51.9rem 0rem 51.8rem;
      width: calc(100% - 103.7rem);

      .auto-group-p8zm-Fmj {
        width: 4.6rem;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;
        display: flex;
        background-color: #f2f2f2;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-x6gh-Ggq {
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        background-color: #f2f2f2;
        height: 100%;
        font-size: 1.6rem;
        line-height: 1.2125;
        justify-content: center;
        width: 4.6rem;
        display: flex;
        align-items: center;
        color: #000000;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .auto-group-qrvm-ZA9 {
        white-space: nowrap;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        flex-shrink: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        background-color: #f2f2f2;
        height: 100%;
        font-weight: 700;
        justify-content: center;
        border-radius: 2rem;
        width: 4.6rem;
        font-size: 1.6rem;
        color: #000000;
      }
      .auto-group-ke1o-Szd {
        display: flex;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        width: 4.6rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        height: 100%;
        font-size: 1.6rem;
        border-radius: 2rem;
        flex-shrink: 0;
      }
    }
  }
  .footer-6pH {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;

    .layer-2-2-3Dj {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
    }
    .copyright-9Xf {
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-hdbo-yFo {
      flex-shrink: 0;
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;

      .auto-group-vwnh-WFj {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-dLM {
          height: 2rem;
          font-size: 1.6rem;
          left: 0;
          top: 9.9rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 14.2rem;
          position: absolute;
          white-space: nowrap;
        }
        .logo-destinasyik-3-93o {
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
      }
      .auto-group-khms-ULy {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-Piq {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-Y5w {
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .whatsapp-5rZ {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
        }
      }
    }
    .layer-2-1-d7P {
      flex-shrink: 0;
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
