
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.non-wisata-wkD {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-V13 {
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-4-o1j {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
    }
    .logo-destinasyik-2-KEy {
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
    }
    .beranda-F8d {
      white-space: nowrap;
      height: 3rem;
      left: 86rem;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      width: 9.8rem;
      cursor: pointer;
      font-family: Inter, 'Source Sans Pro';
    }
    .kontak-Hr1 {
      width: 8.3rem;
      position: absolute;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      left: 97.5rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .tentang-zkR {
      left: 107.5rem;
      font-size: 2.4rem;
      height: 3rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.7rem;
      top: 4.4rem;
    }
    .tour-guide-HjX {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      left: 118.9rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 12.9rem;
      height: 3rem;
      position: absolute;
    }
    .male-user-QJM {
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
    }
  }
  .auto-group-uvu5-LSu {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.3rem 8.5rem 4.3rem 7.1rem;

    .auto-group-kye5-rg9 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 10.5rem 4.4rem 8.2rem;
      width: calc(100% - 18.7rem);
      height: 3.5rem;
      display: flex;

      .auto-group-1lfj-XGV {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        margin-right: 0.2rem;
        display: flex;
        align-items: center;
        border-radius: 2rem 0 0 2rem;
        flex-shrink: 0;
        height: 100%;
        font-weight: 700;
        line-height: 1.2125;
        font-size: 2.4rem;
        white-space: nowrap;
        background-color: #f2f2f2;
        width: 3.8rem;
      }
      .auto-group-46q1-CNd {
        align-items: center;
        width: 16.8rem;
        height: 100%;
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
        background-color: #3a86d4;
        flex-shrink: 0;
      }
      .auto-group-sfxo-sjf {
        white-space: nowrap;
        justify-content: center;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        margin-right: 48.6rem;
        font-size: 2.4rem;
        color: #000000;
        align-items: center;
        border-radius: 0 2rem 2rem 0;
        width: 12.1rem;
        font-weight: 700;
        line-height: 1.2125;
        background-color: #f2f2f2;
        flex-shrink: 0;
      }
      .auto-group-mc7t-wjX {
        align-items: center;
        background-color: #f2f2f2;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 10rem 0.2rem 1.6rem;
        height: 100%;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;

        .search-UUZ {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 5.7rem 0rem 0rem;
        }
        .search-QND {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          font-style: italic;
          color: #7e7e7e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .frame-3-3g5 {
      flex-shrink: 0;
      margin-bottom: 4.3rem;
      padding: 1.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 35rem;
      background-color: #ffffff;
      border-radius: 1.5rem;

      .image-15-ndf {
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.7rem;
        height: 32rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .frame-2-Kdb {
        width: 68.2rem;
        height: calc(100% - 3.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.75rem 0;

        .auto-group-hdop-rdX {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 0.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .carney-co-oof {
            margin-bottom: 1.8rem;
            font-size: 3.6rem;
            font-weight: 700;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
          }
          .cafe-carney-co-memiliki-arsitektur-yang-dominan-warna-putih-dengan-aksen-warna-pirus-yang-indah-uniknya-cafe-carney-co-memiliki-bangunan-berbentuk-piramida-dengan-rangka-warna-merah-jambu-dan-panel-kaca-area-sekitar-bangunan-ini-biasa-digunakan-untuk-acara-live-music-atau-sebagai-wedding-venue-bagian-indoor-nya-menyediakan-tempat-untuk-bersantai-seperti-area-bean-bag-sofa-dan-tempat-duduk-lainnya-YFT {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 68rem;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        .frame-1-K9j {
          background-color: #3986d8;
          flex-shrink: 0;
          width: 100%;
          font-size: 2rem;
          line-height: 1.2125;
          white-space: nowrap;
          justify-content: center;
          border-radius: 1.2rem;
          height: 4.4rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          font-weight: 500;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .frame-4-utd {
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-bottom: 4.3rem;
      box-sizing: border-box;
      padding: 1.5rem;
      width: 100%;
      height: 30.2rem;
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .image-14-Eg1 {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.8rem;
        height: 27.2rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-2-mR3 {
        width: 68.1rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-tgbb-7zh {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 4.4rem;
          width: 100%;
          display: flex;

          .tepi-sawah-coffee-eatery-Gsb {
            font-weight: 700;
            line-height: 1.2125;
            font-style: italic;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 3.6rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .sesuai-namanya-kafe-ini-tepat-berada-di-tepi-sawah-dengan-bangunan-utama-berbentuk-joglo-kafe-ini-mengusung-konsep-tradisional-jawa-tepi-sawah-juga-menyediakan-outdoor-yang-pastinya-seru-saat-dipakai-untuk-berkumpul-dengan-keluarga-maupun-teman-paling-pas-datang-ke-kafe-ini-saat-sore-hari-sembari-menikmati-sunset-yGD {
            max-width: 68rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .frame-1-ALh {
          flex-shrink: 0;
          height: 4.4rem;
          line-height: 1.2125;
          justify-content: center;
          font-size: 2rem;
          color: #ffffff;
          background-color: #3986d8;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 1.2rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .frame-5-dVB {
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 4.3rem;
      box-sizing: border-box;
      padding: 1.5rem 1.4rem 1.5rem 1.5rem;
      width: 100%;
      height: 31.8rem;

      .image-16-kph {
        height: 28.8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.3rem;
      }
      .frame-2-rsj {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .oppio-coffee-milk-pJm {
          font-weight: 700;
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 3.6rem;
          line-height: 1.2125;
          color: #000000;
        }
        .cafe-hits-jogja-selanjutnya-ada-oppio-coffee-milk-memiliki-konsep-suasana-alam-cafe-ini-memberikan-kamu-kesempatan-untuk-memanjakan-mata-dengan-melihat-hamparan-sawah-hijau-di-sekelilingnya-ada-lapangan-basket-dan-beberapa-anjing-kecil-yang-bisa-menjadi-pelepas-penatmu-juga-loh-dijamin-suasana-kafe-di-sini-bisa-buat-kamu-betah-berlama-lama-xA5 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          max-width: 68.7rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .frame-1-K93 {
          display: flex;
          align-items: center;
          font-size: 2rem;
          color: #ffffff;
          justify-content: center;
          background-color: #3986d8;
          flex-shrink: 0;
          font-weight: 500;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          border-radius: 1.2rem;
          width: 68.6rem;
          height: 4.4rem;
        }
      }
    }
    .frame-7-vPj {
      height: 29.7rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
      width: 100%;
      box-sizing: border-box;
      padding: 1.5rem;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 4.3rem;

      .image-17-3jF {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 52.5rem;
        height: 26.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-2-bEy {
        flex-shrink: 0;
        width: 68.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-frdp-Yvu {
          box-sizing: border-box;
          padding-bottom: 3.9rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .epic-coffee-i4h {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            font-size: 3.6rem;
            font-style: italic;
            color: #000000;
            font-weight: 700;
            line-height: 1.2125;
          }
          .epic-coffee-hadir-dengan-konsep-bangunan-industrial-dan-classic-bangunan-yang-terbuka-dengan-penataan-ruangan-yang-dirancang-sedemikian-rupa-sehingga-tampak-luas-dan-lapang-selain-itu-chef-dan-barista-epic-coffee-semuanya-profesional-jadi-kamu-akan-nyaman-nongkrong-di-sini-sambil-menikmati-hidangan-lezatnya-pdX {
            flex-shrink: 0;
            max-width: 68.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-1-eMf {
          display: flex;
          border-radius: 1.2rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          width: 100%;
          line-height: 1.2125;
          align-items: center;
          flex-shrink: 0;
          font-weight: 500;
          color: #ffffff;
          background-color: #3986d8;
          height: 4.4rem;
        }
      }
    }
    .auto-group-frko-h53 {
      column-gap: 2.1rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 51.8rem 0rem 51.9rem;
      width: calc(100% - 103.7rem);
      height: 3.5rem;
      display: flex;

      .auto-group-e8v7-CnV {
        color: #000000;
        display: flex;
        background-color: #f2f2f2;
        width: 4.6rem;
        font-weight: 700;
        justify-content: center;
        font-size: 1.6rem;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        flex-shrink: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 2rem;
        height: 100%;
      }
      .auto-group-n6b3-fvy {
        width: 4.6rem;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2125;
        background-color: #f2f2f2;
        font-family: Inter, 'Source Sans Pro';
        height: 100%;
        font-size: 1.6rem;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
      }
      .auto-group-847s-Moo {
        white-space: nowrap;
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2125;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;
        align-items: center;
        background-color: #f2f2f2;
        width: 4.6rem;
        height: 100%;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
      }
      .auto-group-2rdk-pBb {
        height: 100%;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
        border-radius: 2rem;
        align-items: center;
        background-color: #f2f2f2;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        width: 4.6rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
  .footer-GJV {
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .layer-2-2-bbf {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-vdw {
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-fbdb-Dd3 {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-4kqv-kss {
        width: 100%;
        height: 11.9rem;
        position: relative;
        margin-bottom: 4.9rem;

        .webcrafters-H77 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          left: 0;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-size: 1.6rem;
          width: 14.2rem;
          height: 2rem;
          position: absolute;
          top: 9.9rem;
        }
        .logo-destinasyik-3-nZf {
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
        }
      }
      .auto-group-k5pf-vA5 {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-UBb {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .tiktok-1xD {
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-Ziq {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-GdF {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
    }
  }
}
