
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pembayaran-berhasil-kYq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;

  .header-43j {
    margin-bottom: 2.4rem;
    width: 100%;
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-ZWH {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
    }
    .logo-destinasyik-2-g57 {
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
    }
    .beranda-Cp9 {
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      height: 3rem;
      cursor: pointer;
      left: 86rem;
      top: 4.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 9.8rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.2125;
    }
    .kontak-FGd {
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      left: 97.5rem;
      height: 3rem;
      position: absolute;
      top: 4.4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 8.3rem;
    }
    .tentang-kz5 {
      width: 9.7rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 107.5rem;
      top: 4.4rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .tour-guide-t4h {
      color: #000000;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.9rem;
      height: 3rem;
      left: 118.9rem;
      top: 4.4rem;
    }
    .male-user-AY1 {
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
    }
    .header-59B {
      width: 150.5rem;
      height: 11.9rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-4-1oX {
        background-color: #ffffff;
        width: 150.5rem;
        height: 11.6rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem #3a86d4;
      }
      .logo-destinasyik-2-Lqo {
        width: 11.6rem;
        height: 11.6rem;
        position: absolute;
        left: 2rem;
        top: 0.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .beranda-USD {
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        cursor: pointer;
        position: absolute;
        font-size: 2.4rem;
        white-space: nowrap;
        width: 9.8rem;
        left: 86rem;
        top: 4.4rem;
        color: #000000;
      }
      .kontak-kuX {
        position: absolute;
        left: 97.5rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.3rem;
        top: 4.4rem;
        font-weight: 700;
        color: #000000;
        height: 3rem;
      }
      .tentang-sz9 {
        width: 9.7rem;
        height: 3rem;
        left: 107.5rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 4.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .tour-guide-9Rs {
        top: 4.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 12.9rem;
        height: 3rem;
        position: absolute;
        left: 118.9rem;
        line-height: 1.2125;
      }
      .male-user-s6y {
        top: 2.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.8rem;
        height: 5.8rem;
        cursor: pointer;
        position: absolute;
        left: 134.6rem;
      }
    }
  }
  .auto-group-zc7b-b2y {
    margin-bottom: 3.4rem;
    width: 100%;
    height: 84.1rem;
    position: relative;
    flex-shrink: 0;

    .konfirmasi-pembayaran-itH {
      width: 58rem;
      position: absolute;
      top: 3.4rem;
      font-size: 5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 6.1rem;
      left: 7.6rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .group-19-Ebj {
      height: 55.5rem;
      position: absolute;
      left: 7.6rem;
      top: 15.3rem;
      background-color: #ffffff;
      width: 46.2rem;

      .auto-group-16ch-mLm {
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Nunito, 'Source Sans Pro';
        display: flex;
        align-items: center;
        margin-bottom: 2.25rem;
        width: 100%;
        height: 6.9rem;
        white-space: nowrap;
        background-color: #3487db;
      }
      .metode-pembayaran-eQZ {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.26;
        color: #000000;
        font-family: Plus Jakarta Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 3rem;
        display: flex;
      }
      .auto-group-f1dt-mk5 {
        box-sizing: border-box;
        padding: 0.65rem 4rem 3.8rem 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .bni-logo-1-VRB {
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 1.25rem;
          width: 14rem;
          height: 4.3rem;
          object-fit: cover;
          vertical-align: top;
        }
        .nama-pemesan-18d {
          font-weight: 700;
          color: #000000;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          display: flex;
          line-height: 1.26;
          flex-shrink: 0;
          margin-bottom: 0.65rem;
        }
        .group-18-vmP {
          background-color: #ffffff;
          line-height: 1.26;
          border: solid 0.1rem #276561;
          flex-shrink: 0;
          width: 100%;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          font-size: 2rem;
          padding: 1.133rem 1.062rem 1.067rem 1.062rem;
          display: flex;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 0.65rem;
          box-sizing: border-box;
        }
        .nomor-rekening-NtH {
          font-weight: 700;
          color: #000000;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          line-height: 1.26;
          white-space: nowrap;
          margin-bottom: 0.65rem;
        }
        .group-21-HVT {
          width: 100%;
          border: solid 0.1rem #276561;
          background-color: #ffffff;
          padding: 1.133rem 1.062rem 1.067rem 1.062rem;
          white-space: nowrap;
          box-sizing: border-box;
          font-weight: 400;
          color: #000000;
          font-size: 2rem;
          display: flex;
          line-height: 1.26;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.35rem;
        }
        .jumlah-tagihan-5RK {
          margin-bottom: 0.65rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.26;
          display: flex;
          color: #000000;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-22-cRF {
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #276561;
          flex-shrink: 0;
          margin-bottom: 2rem;
          background-color: #ffffff;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          display: flex;
          font-size: 2rem;
          padding: 1.133rem 1.062rem 1.067rem 1.062rem;
          line-height: 1.26;
          color: #000000;
          white-space: nowrap;
          font-weight: 400;
        }
        .group-23-GVo {
          line-height: 1.3625;
          display: flex;
          font-weight: 700;
          font-family: Nunito, 'Source Sans Pro';
          background-color: #276561;
          font-size: 2.4rem;
          flex-shrink: 0;
          justify-content: center;
          height: 6.6rem;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          border-radius: 3rem;
          width: 100%;
        }
      }
    }
    .group-19-7mK {
      width: 77.3rem;
      height: 55.5rem;
      position: absolute;
      left: 57.3rem;
      top: 15.3rem;
      align-items: flex-end;
      display: flex;
      padding: 0.8rem 2.8rem 1.25rem 2.5rem;
      background-color: #ffffff;
      flex-direction: column;
      box-sizing: border-box;

      .auto-group-s45f-cTB {
        margin: 0rem 23.1rem 0.517rem 1.4rem;
        width: calc(100% - 24.5rem);
        height: 16.3833rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-9qq1-L8H {
          margin-right: 15.2rem;
          width: 14.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .logo-destinasyik-2-Fm3 {
            width: 11.6rem;
            height: 11.6rem;
            position: absolute;
            left: 2.8rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .dimas-prayoga-sukajaya-lampung-628x-xxxx-xxxx-Bub {
            left: 0;
            display: flex;
            line-height: 1.26;
            color: #000000;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            height: 5.3rem;
            position: absolute;
            font-size: 1.4rem;
            font-weight: 700;
            width: 12.9rem;
            top: 11.0833rem;

            .dimas-prayoga-sukajaya-lampung-628x-xxxx-xxxx-Bub-sub-0 {
            }
            .dimas-prayoga-sukajaya-lampung-628x-xxxx-xxxx-Bub-sub-1 {
              line-height: 1.26;
              color: #000000;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }
        .faktur-pemesanan-RSZ {
          margin-bottom: 6.6833rem;
          font-weight: 700;
          line-height: 1.26;
          color: #000000;
          display: flex;
          font-size: 2rem;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-25-MLD {
        margin: 0rem 0.5rem 1.65rem 1.4rem;
        width: calc(100% - 1.9rem);
        height: 25.7499rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-53-3Tw {
          top: 0;
          background-color: #ffffff;
          width: 69.9869rem;
          height: 25.7499rem;
          position: absolute;
          left: 0.0565rem;
        }
        .sub-total-administrasi-total-Yfb {
          line-height: 1.2102272851;
          color: #000000;
          width: 8.2rem;
          height: 5.1rem;
          position: absolute;
          top: 20.6142rem;
          font-size: 1.4rem;
          left: 46.3564rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';

          .sub-total-administrasi-total-Yfb-sub-0 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 700;
          }
          .sub-total-administrasi-total-Yfb-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .sub-total-administrasi-total-Yfb-sub-2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .orang-silver-rp-150000-P3w {
          height: 3.4rem;
          left: 41.45rem;
          top: 4.6rem;
          font-size: 1.4rem;
          color: #000000;
          width: 11.1rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;

          .orang-silver-rp-150000-P3w-sub-0 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
          }
          .orang-silver-rp-150000-P3w-sub-1 {
          }
        }
        .rp-150000-j1K {
          top: 5.1rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          width: 8.4rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          height: 1.7rem;
          left: 58.45rem;
        }
        .rp-250000-Eyf {
          font-size: 1.4rem;
          line-height: 1.2125;
          width: 8.6rem;
          left: 58.35rem;
          top: 10.8rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          text-align: center;
        }
        .rp-400000-ZW9 {
          position: absolute;
          left: 58.4rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.7rem;
          top: 16.8rem;
          font-size: 1.4rem;
          color: #000000;
          height: 1.7rem;
        }
        .rp-800000-TrR {
          height: 1.7rem;
          position: absolute;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.7rem;
          top: 20.6rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;
          left: 58.45rem;
        }
        .rp-802500-nth {
          height: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 8.6rem;
          position: absolute;
          left: 58.55rem;
          top: 23.8rem;
          text-align: center;
          font-size: 1.4rem;
          white-space: nowrap;
        }
        .rp-2500-gz5 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          height: 1.7rem;
          left: 58.5rem;
          top: 22.2rem;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          width: 8.4rem;
        }
        .orang-platinum-rp-400000-N6D {
          width: 13.2rem;
          left: 40.9rem;
          top: 15.9rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          height: 3.4rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.2125;

          .orang-platinum-rp-400000-N6D-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .orang-platinum-rp-400000-N6D-sub-1 {
          }
        }
        .orang-emas-rp-250000-A25 {
          position: absolute;
          top: 10.3rem;
          font-size: 1.4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 10.9rem;
          height: 3.4rem;
          left: 42rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;

          .orang-emas-rp-250000-A25-sub-0 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .orang-emas-rp-250000-A25-sub-1 {
          }
        }
        .detail-harga-9ub {
          position: absolute;
          top: 1rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 8.4rem;
          height: 1.7rem;
          white-space: nowrap;
          left: 42.6rem;
          font-size: 1.4rem;
        }
        .total-g8q {
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          height: 1.7rem;
          left: 60.7rem;
          top: 1rem;
          font-size: 1.4rem;
          white-space: nowrap;
          width: 3.5rem;
          position: absolute;
          line-height: 1.2125;
          color: #000000;
        }
        .pesanan-Pow {
          width: 5.9rem;
          left: 7.3rem;
          top: 1rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 700;
        }
        .rectangle-54-VMB {
          background-color: #eaeaea;
          width: 2.4309rem;
          height: 2.9245rem;
          position: absolute;
          left: 2.2613rem;
          top: 5.1357rem;
        }
        .rectangle-55-cwb {
          background-color: #eaeaea;
          width: 2.4309rem;
          height: 2.9245rem;
          position: absolute;
          left: 2.2613rem;
          top: 10.2001rem;
        }
        .rectangle-56-ACR {
          width: 2.4309rem;
          height: 2.9245rem;
          position: absolute;
          left: 2.2613rem;
          top: 15.6211rem;
          background-color: #eaeaea;
        }
        .line-17-2Ed {
          background-color: #000000;
          width: 70.1rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 3.7091rem;
        }
        .line-18-mCD {
          background-color: #000000;
          width: 0.1rem;
          height: 16.6197rem;
          position: absolute;
          left: 6.6143rem;
          top: 3.7091rem;
        }
        .line-22-uJR {
          width: 0.0565rem;
          height: 0.1rem;
          position: absolute;
          left: 38.555rem;
          top: 0;
          background-color: #000000;
        }
        .line-23-T53 {
          background-color: #000000;
          width: 0.0607rem;
          height: 0.1rem;
          position: absolute;
          left: 55.2886rem;
          top: 0;
        }
        .line-19-YcH {
          position: absolute;
          left: 0.0565rem;
          top: 9.1301rem;
          background-color: #000000;
          width: 69.9869rem;
          height: 0.1rem;
        }
        .line-20-gyP {
          width: 69.9869rem;
          height: 0.1rem;
          position: absolute;
          left: 0.0565rem;
          top: 14.9078rem;
          background-color: #000000;
        }
        .line-21-Ek1 {
          width: 69.9869rem;
          height: 0.1rem;
          position: absolute;
          left: 0;
          top: 20.3289rem;
          background-color: #000000;
        }
        .tujuan-wisata-27-nov-2023-PN1 {
          color: #000000;
          position: absolute;
          left: 7.9rem;
          top: 15.6rem;
          font-weight: 400;
          line-height: 1.2102272851;
          font-family: Inter, 'Source Sans Pro';
          width: 9.9rem;
          height: 3.4rem;
          font-size: 1.4rem;

          .tujuan-wisata-27-nov-2023-PN1-sub-0 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tujuan-wisata-27-nov-2023-PN1-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tujuan-wisata-27-nov-2023-PN1-sub-2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tujuan-wisata-27-nov-2023-PN1-sub-3 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .tujuan-wisata-26-nov-2023-aau {
          width: 9.9rem;
          position: absolute;
          top: 10rem;
          line-height: 1.2102272851;
          height: 3.4rem;
          left: 7.9rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';

          .tujuan-wisata-26-nov-2023-aau-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .tujuan-wisata-26-nov-2023-aau-sub-1 {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
          }
          .tujuan-wisata-26-nov-2023-aau-sub-2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tujuan-wisata-26-nov-2023-aau-sub-3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .tujuan-wisata-24-nov-2023-ttR {
          height: 3.4rem;
          position: absolute;
          left: 7.9rem;
          top: 4.9rem;
          font-weight: 400;
          width: 9.9rem;
          line-height: 1.2102272851;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;

          .tujuan-wisata-24-nov-2023-ttR-sub-0 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .tujuan-wisata-24-nov-2023-ttR-sub-1 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
          }
          .tujuan-wisata-24-nov-2023-ttR-sub-2 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 700;
          }
          .tujuan-wisata-24-nov-2023-ttR-sub-3 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .group-25-WoK {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.343rem 3.227rem 0.057rem 3.173rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Nunito, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.15rem 57.4rem;
        font-size: 1.4rem;
        background-color: #276561;
      }
      .harap-segera-lakukan-pembayaran-untuk-dapat-melakukan-cetak-kartu-pada-faktur-pemesanan-berikan-kartu-pemesan-kepada-petugas-pemandu-wisata-untuk-dapat-menikmati-perjalanan-anda-informasi-lebih-lanjut-dapat-hubungi-destinasyik-melalui-laman-website-resmi-bZs {
        color: #000000;
        font-family: Plus Jakarta Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 72rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.26;
      }
    }
    .rectangle-10-17o {
      top: 76.6rem;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #f2f2f2;
      border-radius: 2rem;
      width: 12.6rem;
      height: 3.5rem;
      position: absolute;
      left: 72.7rem;
    }
    .selanjutnya--JMo {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      width: 10.3rem;
      height: 2rem;
      position: absolute;
      top: 77.4rem;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      left: 73.8rem;
      white-space: nowrap;
    }
    .rectangle-52-c7b {
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #e3e3e3;
      border-radius: 2rem;
      width: 12.7rem;
      height: 3.5rem;
      position: absolute;
      left: 58.7rem;
      top: 76.6rem;
    }
    .sebelumnya-heq {
      left: 59.7rem;
      top: 77.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.8rem;
      height: 2rem;
      position: absolute;
      line-height: 1.2125;
      color: #000000;
    }
    .rectangle-63-2SD {
      top: 0;
      background-color: rgba(217, 217, 217, 0.6000000238);
      width: 144rem;
      height: 84.1rem;
      position: absolute;
      left: 0;
    }
    .group-27-meh {
      top: 22.7rem;
      display: flex;
      border-radius: 4.2rem;
      box-sizing: border-box;
      padding: 3.7rem 1.8rem 3.1rem 1.8rem;
      height: 39.7rem;
      left: 45.5rem;
      background-color: #ffffff;
      width: 54.3rem;
      position: absolute;
      align-items: center;
      flex-direction: column;

      .konfirmasi-pembayaran-TnR {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 19.2rem 1.1rem 0rem;
      }
      .ceklist-1-ykm {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin: 0rem 0rem 0.6rem 2.2rem;
        width: 18.1rem;
        height: 15.2rem;
      }
      .pembayaran-anda-berhasil-silakan-cetak-kartu-pesanan-anda-Gzm {
        margin: 0rem 1.4rem 2.7rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        max-width: 40.7rem;
        text-align: center;
        font-size: 2.4rem;
      }
      .auto-group-nv9p-A4Z {
        height: 4.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: calc(100% - 2.2rem);

        .frame-15-Hus {
          height: 100%;
          font-size: 2rem;
          color: #ffffff;
          align-items: center;
          border-radius: 1.2rem;
          cursor: pointer;
          font-weight: 500;
          line-height: 1.2125;
          background-color: #d83939;
          margin-right: 1.9rem;
          width: 23.3rem;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
        }
        .frame-14-XpD {
          border-radius: 1.2rem;
          font-size: 2rem;
          background-color: #4fd839;
          cursor: pointer;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          color: #ffffff;
          display: flex;
          width: 23.3rem;
        }
      }
    }
  }
  .footer-Btm {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;

    .layer-2-2-uJy {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
    }
    .copyright-cDP {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }
    .auto-group-d7jf-hEq {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-ssmw-deH {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-BA1 {
          white-space: nowrap;
          height: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          top: 9.9rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          width: 14.2rem;
          position: absolute;
          left: 0;
        }
        .logo-destinasyik-3-Hyj {
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
      }
      .auto-group-2zot-qEZ {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-AGq {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .tiktok-hnZ {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
        }
        .whatsapp-3bX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    .layer-2-1-zFs {
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 3.9rem;
    }
  }
}
