
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-likes-3hj {
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .header-mtd {
    width: 100%;
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-4-7Bo {
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
    }
    .logo-destinasyik-2-1HB {
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
    }
    .beranda-jDB {
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      left: 86rem;
      top: 4.4rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      width: 9.8rem;
      cursor: pointer;
      position: absolute;
    }
    .kontak-DPF {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.3rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      height: 3rem;
      position: absolute;
      left: 97.5rem;
    }
    .tentang-LCy {
      width: 9.7rem;
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      height: 3rem;
      left: 107.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tour-guide-ezM {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 3rem;
      left: 118.9rem;
      top: 4.4rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #000000;
      width: 12.9rem;
    }
    .male-user-mp5 {
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
    }
  }
  .auto-group-g1tf-UyP {
    height: 66.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 6.5rem;
    width: calc(100% - 6.5rem);

    .auto-group-5txt-pnM {
      box-sizing: border-box;
      width: 21.9rem;
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 6.5rem;
      padding: 3.3rem 6.6rem 41.8rem 4rem;
      height: 100%;
      flex-direction: column;

      .profil-6zm {
        margin: 0rem 1.3rem 2.3rem 0rem;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-drnh-PU5 {
        width: 10.4rem;
        font-weight: 700;
        display: flex;
        margin: 0rem 0.9rem 2.4rem 0rem;
        background-color: #3a86d4;
        white-space: nowrap;
        align-items: center;
        border-radius: 2rem;
        line-height: 1.2125;
        font-size: 2.4rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        height: 4.7rem;
      }
      .ulasan-Nqo {
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 3rem 0.6rem;
        cursor: pointer;
        font-weight: 700;
        color: #000000;
      }
      .riwayat-U89 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 1.9rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
    .frame-15-mN9 {
      flex-shrink: 0;
      margin: 3.8rem 0rem 3.5rem 0rem;
      width: 109.1rem;
      height: calc(100% - 7.3rem);
      overflow: hidden;
      position: relative;

      .auto-group-uxmt-U1f {
        width: 100%;
        height: 35rem;
        display: flex;
        align-items: center;
        margin-bottom: 5.7rem;

        .auto-group-1ymb-1XP {
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 4.3rem;
          height: 100%;
          display: flex;

          .auto-group-yk2r-LZf {
            box-sizing: border-box;
            flex-direction: column;
            background-color: #f2f2f2;
            border-radius: 2rem;
            flex-shrink: 0;
            box-shadow: 0 0.4rem 0.4rem #3a86d4;
            margin-right: 4.3rem;
            padding: 1.8rem 2.7rem 1rem 2.7rem;
            width: 33.5rem;
            align-items: center;
            display: flex;

            .malioboro-Fgd {
              margin: 0rem 16.3rem 1.7rem 0rem;
              flex-shrink: 0;
              white-space: nowrap;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              font-style: italic;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .image-1-AYh {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.1rem 1.8rem 0rem;
              width: 28rem;
              height: 14rem;
            }
            .jalan-ikonik-di-yogyakarta-pusat-perbelanjaan-dan-hiburan-malam-dengan-suasana-khas-pedagang-kaki-lima-dan-lampu-neon-yang-menarik-tUh {
              margin: 0rem 1.2rem 0.9rem 0rem;
              max-width: 26.9rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .back-arrow-Z53 {
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-left: 24.7rem;
              width: 3.4rem;
            }
          }
          .auto-group-wbeq-DvH {
            box-sizing: border-box;
            width: 33.5rem;
            align-items: center;
            border-radius: 2rem;
            flex-shrink: 0;
            padding: 1.8rem 2.6rem 1rem 2.7rem;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0.4rem 0.4rem #3a86d4;
            background-color: #f2f2f2;

            .candi-prambanan-wrH {
              margin: 0rem 7.4rem 1.7rem 0rem;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              font-style: italic;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .image-2-3uK {
              margin: 0rem 0.2rem 1.8rem 0rem;
              width: 28rem;
              height: 14rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .keindahan-hindu-abad-ke-9-di-yogyakarta-siluet-megah-dan-relief-ukiran-menciptakan-potret-budaya-indonesia-yang-memukau-mKX {
              flex-shrink: 0;
              margin: 0rem 2.6rem 0.9rem 0rem;
              max-width: 25.4rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .back-arrow-BPF {
              margin-left: 24.8rem;
              width: 3.4rem;
              height: 3.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-c6bb-4C9 {
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 1.7rem 2.8rem 1.8rem 2.6rem;
          width: 33.5rem;
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          flex-direction: column;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          display: flex;

          .keraton-jogja-aAV {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            margin: 0rem 11.8rem 1.8rem 0rem;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .image-3-gzD {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 1.8rem 0.1rem;
            width: 28rem;
            height: 14rem;
            object-fit: cover;
          }
          .keelokan-arsitektur-jawa-kehijauan-taman-dan-pesona-sejarah-yang-terpancar-suasana-hangat-dan-detail-artistik-yang-memikat-perhatian-pqX {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 1.2rem 0.2rem 0rem;
            max-width: 26.7rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
          }
          .back-arrow-gcq {
            margin-left: 24.5rem;
            width: 3.4rem;
            height: 3.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-hekq-ay7 {
        position: relative;
        width: 173.2rem;
        height: 35rem;

        .rectangle-13-Hcd {
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          border-radius: 2rem;
          width: 33.5rem;
          height: 35rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .taman-pintar-Qx9 {
          top: 1.7rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          width: 15.5rem;
          height: 3rem;
          position: absolute;
          left: 2.6rem;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .rectangle-7-WVP {
          width: 33.5rem;
          height: 35rem;
          position: absolute;
          left: 37.8rem;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          border-radius: 2rem;
        }
        .image-5-cHX {
          width: 28rem;
          height: 14rem;
          position: absolute;
          left: 2.7rem;
          top: 6.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .gabungan-alam-dan-inovasi-dalam-taman-teratur-dengan-instalasi-seni-modern-menciptakan-pengalaman-visual-yang-cerdas-dan-inspiratif-wah {
          top: 22.6rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          width: 99rem;
          height: 1.9rem;
          position: absolute;
          left: 2.6rem;
          font-size: 1.5rem;
          font-weight: 500;
        }
        .taman-sari-1Kf {
          font-family: Inter, 'Source Sans Pro';
          width: 13.1rem;
          height: 3rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 40.4rem;
          top: 1.7rem;
          font-size: 2.4rem;
          font-style: italic;
        }
        .istana-air-yang-memesona-dengan-arsitektur-istimewa-dan-keindahan-taman-yang-menakjubkan-suasana-magis-dan-penuh-sejarah-JZf {
          width: 94rem;
          left: 40.5rem;
          top: 22.3rem;
          font-size: 1.5rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.9rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.2125;
        }
        .back-arrow-kRf {
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
          left: 65rem;
          top: 29.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .back-arrow-gq7 {
          vertical-align: top;
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
          left: 27.3rem;
          top: 29.8rem;
          object-fit: contain;
        }
        .image-4-cTs {
          top: 6.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 27.9rem;
          height: 14rem;
          position: absolute;
          left: 40.6rem;
        }
        .rectangle-9-xXj {
          box-shadow: 0 0.4rem 0.4rem #3a86d4;
          background-color: #f2f2f2;
          border-radius: 2rem;
          width: 33.5rem;
          height: 35rem;
          position: absolute;
          left: 75.6rem;
          top: 0;
        }
        .goa-pindul-gCq {
          font-family: Inter, 'Source Sans Pro';
          width: 12.7rem;
          height: 3rem;
          position: absolute;
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
          white-space: nowrap;
          left: 78.2rem;
          top: 1.8rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .petualangan-seru-menyusuri-gua-bawah-tanah-dengan-ban-pelampung-keindahan-stalaktit-dan-stalagmit-memikat-mata-pengunjung-urH {
          left: 78.3rem;
          top: 22.3rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.9rem;
          position: absolute;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.2125;
          width: 94.9rem;
        }
        .back-arrow-C4h {
          top: 29.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
          left: 102.8rem;
        }
        .image-6-Wr5 {
          top: 6.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 28rem;
          height: 14rem;
          position: absolute;
          left: 78.3rem;
        }
      }
    }
  }
  .footer-rQ9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .layer-2-2-BSR {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-iBT {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
    }
    .auto-group-ndub-Ap9 {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-eymf-uFw {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-T2Z {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          top: 9.9rem;
          left: 0;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          width: 14.2rem;
          height: 2rem;
        }
        .logo-destinasyik-3-NQR {
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
        }
      }
      .auto-group-vucd-hxV {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-qYu {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-xdX {
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-JxH {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-2NV {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
