
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.riwayat-pemesan-3kM {
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .header-YBK {
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-4-3tm {
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
    }
    .logo-destinasyik-2-Fzq {
      object-fit: cover;
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
    }
    .beranda-NpZ {
      height: 3rem;
      cursor: pointer;
      top: 4.4rem;
      font-size: 2.4rem;
      white-space: nowrap;
      width: 9.8rem;
      position: absolute;
      left: 86rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .kontak-pgZ {
      height: 3rem;
      top: 4.4rem;
      color: #000000;
      white-space: nowrap;
      width: 8.3rem;
      left: 97.5rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
    }
    .tentang-joX {
      line-height: 1.2125;
      width: 9.7rem;
      left: 107.5rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      top: 4.4rem;
    }
    .tour-guide-2nd {
      position: absolute;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      left: 118.9rem;
      white-space: nowrap;
      width: 12.9rem;
    }
    .male-user-kTj {
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
    }
  }
  .auto-group-gmey-5W1 {
    height: 76rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;

    .auto-group-u64y-Ds7 {
      height: 100%;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      flex-direction: column;
      margin-right: 2rem;
      box-sizing: border-box;
      padding: 3.3rem 5.6rem 50.5rem 5rem;
      width: 21.9rem;
      align-items: center;

      .profil-Hry {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.3rem 3.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .suka-PQD {
        font-size: 2.4rem;
        font-weight: 700;
        flex-shrink: 0;
        margin: 0rem 3.6rem 3.2rem 0rem;
        cursor: pointer;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ulasan-hfo {
        margin: 0rem 1.4rem 2.1rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-yb6r-Rbo {
        background-color: #3a86d4;
        border-radius: 2rem;
        width: 100%;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        height: 4.7rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-ef6h-Ua5 {
      margin: 6.4rem 0rem 2.8rem 0rem;
      width: 125.4016rem;
      height: calc(100% - 9.2rem);
      position: relative;
      flex-shrink: 0;

      .auto-group-dfkv-b8u {
        top: 0;
        display: flex;
        align-items: flex-end;
        width: 117.7rem;
        height: 4.2rem;
        position: absolute;
        left: 0.2rem;

        .riwayat-pemesanan-ufP {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 59.5rem 0.5rem 0rem;
          font-size: 3rem;
          font-weight: 700;
        }
        .button-1Cd {
          border: solid 0.1rem #f0f2f4;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 0.8rem 0.7rem 0.883rem;
          align-items: center;
          margin: 0.4rem 1.7rem 0rem 0rem;
          display: flex;
          background-color: #ffffff;

          .download-cloud-line-isj {
            margin: 0rem 0.883rem 0.183rem 0rem;
            width: 1.8334rem;
            height: 1.5833rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ekspor-Soj {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .button-xGH {
          margin-top: 0.4rem;
          box-sizing: border-box;
          display: flex;
          border-radius: 0.8rem;
          flex-shrink: 0;
          padding: 0.8rem 0.8rem 0.7rem 1.217rem;
          align-items: center;
          box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.0599999987);
          background-color: #4946ff;

          .add-line-VGD {
            width: 1.1666rem;
            height: 1.1667rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.217rem 0.1rem 0rem;
          }
          .tambah-pesanan-Nqo {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-gjts-2vM {
        align-items: center;
        width: 64.2rem;
        height: 2.5rem;
        position: absolute;
        left: 0.2rem;
        top: 9.2rem;
        display: flex;

        .semua-pembayaran-w1j {
          cursor: pointer;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.3rem;
          font-size: 2rem;
          color: #000000;
          flex-shrink: 0;
        }
        .pembayaran-berhasil-d9T {
          line-height: 1.2125;
          color: #3a86d4;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .pengembalian-dana-MbF {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
        }
      }
      .auto-group-czpo-HE1 {
        position: absolute;
        left: 0;
        top: 14.4rem;
        display: flex;
        align-items: flex-end;
        width: 117.9rem;
        height: 4rem;

        .filters-cGH {
          height: 3.2rem;
          display: flex;
          align-items: center;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 29.9rem;

          .dropdown-7yj {
            box-sizing: border-box;
            padding: 0.6rem 0.776rem 0.6rem 0.933rem;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 0.7363rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #f0f2f4;
            border-radius: 0.8rem;

            .time-line-eTs {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.933rem 0rem 0rem;
              width: 1.3334rem;
              height: 1.3333rem;
              object-fit: contain;
            }
            .tanggal-pesanan-ozy {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.1758rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4000000272;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
            }
            .arrow-down-s-line-YSm {
              height: 0.5186rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0148rem;
              width: 0.8484rem;
            }
          }
          .dropdown-2Mw {
            background-color: #ffffff;
            border-radius: 0.8rem;
            padding: 0.6rem 0.633rem 0.6rem 1rem;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #f0f2f4;
            flex-shrink: 0;
            margin-right: 1.2064rem;

            .flag-line-jn9 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.067rem 1rem 0rem 0rem;
              width: 1.2rem;
              height: 1.2667rem;
            }
            .status-fQu {
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.1758rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4000000272;
            }
            .arrow-down-s-line-QNV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0148rem;
              width: 0.8484rem;
              height: 0.5186rem;
            }
          }
          .dropdown-iPB {
            border: solid 0.1rem #f0f2f4;
            background-color: #ffffff;
            border-radius: 0.8rem;
            padding: 0.6rem 0.776rem 0.6rem 0.934rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 100%;
            flex-shrink: 0;

            .bank-card-line-rVP {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.933rem;
              width: 1.3334rem;
              height: 1.2rem;
              object-fit: contain;
            }
            .metode-pembayaran-aRP {
              line-height: 1.4000000272;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.1758rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
            .arrow-down-s-line-uiZ {
              flex-shrink: 0;
              margin-top: 0.0148rem;
              width: 0.8484rem;
              height: 0.5186rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .input-search-8LR {
          padding: 1rem 20.1rem 1rem 0.967rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #fafafa;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .search-2-line-sJ1 {
            margin: 0.026rem 0.941rem 0rem 0rem;
            width: 1.6928rem;
            height: 1.6928rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pencarian-pembayaran-AH7 {
            font-weight: 400;
            line-height: 1.4000000272;
            color: #959ba4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
      }
      .auto-group-tcjt-sxD {
        object-fit: contain;
        vertical-align: top;
        width: 117.8051rem;
        height: 0.5rem;
        position: absolute;
        left: 0;
        top: 12.2rem;
      }
      .auto-group-xhuk-ARX {
        left: 0.9rem;
        top: 64rem;
        display: flex;
        align-items: flex-end;
        width: 116.1rem;
        height: 2.8rem;
        position: absolute;

        .hasil-pencarian-guf {
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 72.7rem 0.1rem 0rem;
          font-size: 1.8rem;
        }
        .frame-17-Qam {
          color: #ffffff;
          white-space: nowrap;
          background-color: #d83939;
          margin-right: 1.6rem;
          width: 13.6rem;
          line-height: 1.2125;
          justify-content: center;
          flex-shrink: 0;
          border-radius: 1.2rem;
          font-size: 1.8rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          height: 100%;
          font-weight: 500;
          display: flex;
        }
        .frame-16-hpm {
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          display: flex;
          background-color: #3a86d4;
          flex-shrink: 0;
          width: 13.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 500;
          border-radius: 1.2rem;
        }
      }
      .row-table-XJ1 {
        height: 6.85rem;
        position: absolute;
        left: 0.1899rem;
        top: 28.05rem;
        width: 125.2116rem;

        .auto-group-bygv-ECR {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-LWM {
            height: 6.85rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
            width: 117.7101rem;
          }
          .checkbox-Geu {
            padding: 0.3539rem 0.1393rem;
            width: 1.6785rem;
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;
            box-sizing: border-box;

            .selection-o93 {
              height: 100%;
              border-radius: 0.4rem;
              width: 100%;

              .bg-xnd {
                border-radius: 0.4rem;
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
              }
            }
          }
          .tag-VXf {
            position: absolute;
            border-radius: 0.4rem;
            padding: 0.6rem 0rem 0rem 1.941rem;
            height: 3.8rem;
            left: 32.2077rem;
            top: 1.8442rem;
            display: flex;
            align-items: center;
            background-color: #edffe9;
            box-sizing: border-box;
            width: 11.8rem;

            .checkbox-circle-fill-xw3 {
              flex-shrink: 0;
              margin: 0rem 0.733rem 1.238rem 0rem;
              width: 1.3334rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-rjq5-fKf {
              flex-shrink: 0;
              width: 7.7922rem;
              height: 100%;
              font-size: 1.2rem;
              line-height: 1.3333333333;
              color: #165e3d;
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;
              padding: 0.1808rem 0;
              display: flex;
              font-weight: 500;
              white-space: nowrap;
            }
          }
          .nov-2023-MTP {
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            width: 8.5rem;
            height: 2rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.4000000272;
            white-space: nowrap;
            left: 88.8597rem;
            top: 2.1077rem;
            font-size: 1.4rem;
          }
          .c1774-7f3d-46ad90a4-Fof {
            width: 18rem;
            height: 2rem;
            font-size: 1.4rem;
            line-height: 1.4000000272;
            color: #4b5563;
            position: absolute;
            left: 5.8751rem;
            top: 2.1077rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .alberto-niego-AQq {
            width: 6.8rem;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            white-space: nowrap;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            height: 2rem;
            position: absolute;
            left: 71.3392rem;
            top: 2.1077rem;
            font-weight: 500;
          }
          .rp-152500-3zR {
            white-space: nowrap;
            height: 2rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.4000000272;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            width: 8.3rem;
            position: absolute;
            left: 50.462rem;
          }
          .arrow-down-s-line-9Gm {
            object-fit: contain;
            vertical-align: top;
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
            top: 3.0932rem;
          }
          .tag-H85 {
            width: 11.8rem;
            display: flex;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #edffe9;
            height: 3.8rem;
            left: 101.1101rem;
            top: 1.85rem;
            line-height: 1.3333333333;
            color: #165e3d;
            font-weight: 500;
            align-items: center;
            position: absolute;
            white-space: nowrap;
            border-radius: 0.4rem;
          }
          .tag-Ls3 {
            width: 11.8rem;
            height: 3.8rem;
            display: flex;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            position: absolute;
            font-weight: 500;
            color: #165e3d;
            align-items: center;
            border-radius: 0.4rem;
            left: 101.1101rem;
            line-height: 1.3333333333;
            white-space: nowrap;
            background-color: #edffe9;
            top: 1.45rem;
          }
          .bni-logo-1-EhX {
            top: 2.15rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            width: 4.4rem;
            height: 1.9rem;
            position: absolute;
            left: 66.7101rem;
          }
        }
      }
      .row-table-mL5 {
        width: 125.2116rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1899rem;
        top: 34.9rem;

        .auto-group-hzr3-r6d {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-MJH {
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
            width: 117.7101rem;
            height: 6.85rem;
            position: absolute;
          }
          .checkbox-Uth {
            width: 1.6785rem;
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.3539rem 0.1393rem;

            .selection-QGZ {
              width: 100%;
              height: 100%;
              border-radius: 0.4rem;

              .bg-mcu {
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
                border-radius: 0.4rem;
              }
            }
          }
          .tag-6QH {
            position: absolute;
            align-items: center;
            border-radius: 0.4rem;
            top: 1.8442rem;
            display: flex;
            background-color: #edffe9;
            box-sizing: border-box;
            padding: 0.6rem 0rem 0rem 1.941rem;
            width: 11.8rem;
            height: 3.8rem;
            left: 32.2077rem;

            .checkbox-circle-fill-N6u {
              width: 1.3334rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.733rem 1.238rem 0rem;
            }
            .auto-group-syzz-GCH {
              width: 7.7922rem;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              padding: 0.1808rem 0;
              height: 100%;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3333333333;
              color: #165e3d;
              box-sizing: border-box;
            }
          }
          .nov-2023-jrZ {
            line-height: 1.4000000272;
            white-space: nowrap;
            width: 8.4rem;
            height: 2rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            font-weight: 400;
            position: absolute;
            left: 88.8597rem;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
          }
          .c1774-7i3d-46ad90a7-3sF {
            width: 17.7rem;
            height: 2rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 5.8751rem;
            top: 2.1077rem;
            font-weight: 400;
            line-height: 1.4000000272;
            color: #4b5563;
          }
          .rp-602500-wBw {
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2rem;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.4000000272;
            width: 8.6rem;
            position: absolute;
            left: 50.462rem;
            top: 2.1077rem;
          }
          .arrow-down-s-line-rJu {
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
            top: 3.0932rem;
            object-fit: contain;
            vertical-align: top;
          }
          .tag-9oo {
            font-weight: 500;
            line-height: 1.3333333333;
            white-space: nowrap;
            border-radius: 0.4rem;
            height: 3.8rem;
            left: 101.0979rem;
            top: 1.4rem;
            display: flex;
            color: #165e3d;
            align-items: center;
            width: 11.8rem;
            position: absolute;
            font-size: 1.2rem;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #edffe9;
          }
          .card-38V {
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding-right: 0.442rem;
            width: 13.4285rem;
            height: 2.6346rem;
            top: 1.5rem;
            align-items: flex-start;
            position: absolute;
            left: 66.7339rem;
            display: flex;

            .mastercardlogosimbolo-ZMj {
              flex-shrink: 0;
              margin-right: 0.8393rem;
              width: 3.1473rem;
              height: 2.6346rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.4rem;
            }
            .alberto-niego-5ay {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #4b5563;
            }
          }
        }
      }
      .header-table-c57 {
        box-sizing: border-box;
        position: absolute;
        left: 0.1899rem;
        display: flex;
        border: solid 0.1rem #e3e5e7;
        background-color: #fafafa;
        padding: 1.4rem 15.958rem 1.45rem 1.679rem;
        width: 117.7101rem;
        height: 6.85rem;
        top: 21.2rem;
        align-items: center;
        box-shadow: inset 0 -0.1rem 0 #e4e6e8);

        .checkbox-4ho {
          width: 1.6785rem;
          height: calc(100% - 1.8923rem);
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.971rem 2.518rem 0.921rem 0rem;
          box-sizing: border-box;
          padding: 0.3539rem 0.1393rem;

          .selection-MB7 {
            height: 100%;
            border-radius: 0.4rem;
            width: 100%;

            .bg-vED {
              height: 1.4rem;
              border: solid 0.1rem #959ba4;
              box-sizing: border-box;
              border-radius: 0.4rem;
              width: 100%;
            }
          }
        }
        .kode-pembayaran-qc5 {
          margin: 0.05rem 11.735rem 0rem 0rem;
          font-size: 1.4rem;
          letter-spacing: 0.034rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-weight: 700;
          line-height: 1.4285714286;
          text-transform: uppercase;
          color: #374151;
          flex-shrink: 0;
        }
        .status-LYq {
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          line-height: 1.4285714286;
          letter-spacing: 0.034rem;
          white-space: nowrap;
          margin-right: 12.452rem;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: #374151;
          font-family: Inter, 'Source Sans Pro';
        }
        .jumlah-3i9 {
          flex-shrink: 0;
          margin: 0.05rem 10.737rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.4285714286;
          color: #374151;
          white-space: nowrap;
          display: flex;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
        }
        .metode-pembayaran-9WH {
          color: #374151;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.4285714286;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          margin-right: 11.2537rem;
          max-width: 10.2rem;
          flex-shrink: 0;
        }
        .waktu-pesanan-dAZ {
          color: #374151;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .footer-utm {
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;

    .layer-2-2-SNu {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-A41 {
      margin: 0rem 0.3rem 1.2rem 0rem;
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-krav-FbF {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-m9fp-Nvm {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-6bs {
          width: 14.2rem;
          left: 0;
          top: 9.9rem;
          font-size: 1.6rem;
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .logo-destinasyik-3-QsT {
          object-fit: cover;
          vertical-align: top;
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
      }
      .auto-group-8hwo-Lm7 {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-VP7 {
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tiktok-2tq {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
        }
        .whatsapp-xnV {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-2XT {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
