
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.riwayat-pemesanan-SmP {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 100%;
  overflow: hidden;

  .header-8eD {
    height: 11.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-4-3WH {
      top: 0;
      box-shadow: 0 0.4rem 0.4rem #3a86d4;
      background-color: #ffffff;
      width: 150.5rem;
      height: 11.6rem;
      position: absolute;
      left: 0;
    }
    .logo-destinasyik-2-Jx1 {
      vertical-align: top;
      width: 11.6rem;
      height: 11.6rem;
      position: absolute;
      left: 2rem;
      top: 0.3rem;
      object-fit: cover;
    }
    .beranda-Bku {
      font-weight: 700;
      line-height: 1.2125;
      height: 3rem;
      cursor: pointer;
      position: absolute;
      left: 86rem;
      top: 4.4rem;
      font-size: 2.4rem;
      color: #000000;
      white-space: nowrap;
      width: 9.8rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .kontak-Swj {
      position: absolute;
      left: 97.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 8.3rem;
      height: 3rem;
      top: 4.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .tentang-9bF {
      font-size: 2.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 9.7rem;
      height: 3rem;
      position: absolute;
      left: 107.5rem;
      top: 4.4rem;
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.2125;
    }
    .tour-guide-e2D {
      white-space: nowrap;
      left: 118.9rem;
      top: 4.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      width: 12.9rem;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .male-user-YNV {
      position: absolute;
      left: 134.6rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
    }
  }
  .auto-group-nemo-Sim {
    flex-shrink: 0;
    width: 100%;
    height: 76rem;
    display: flex;
    align-items: center;

    .auto-group-dte5-zVP {
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      display: flex;
      margin-right: 2rem;
      box-sizing: border-box;
      padding: 3.3rem 5.6rem 50.5rem 5rem;
      width: 21.9rem;
      height: 100%;

      .profil-6HX {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.3rem 3.2rem 0rem;
      }
      .suka-oBw {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.6rem 3.2rem 0rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        font-size: 2.4rem;
        line-height: 1.2125;
      }
      .ulasan-yEq {
        margin: 0rem 1.4rem 2.1rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-txdw-u8V {
        background-color: #3a86d4;
        font-size: 2.4rem;
        display: flex;
        flex-shrink: 0;
        width: 100%;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        border-radius: 2rem;
        height: 4.7rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
    }
    .auto-group-5ehf-PJZ {
      height: calc(100% - 9.2rem);
      position: relative;
      flex-shrink: 0;
      margin: 6.8rem 0rem 2.4rem 0rem;
      width: 125.4013rem;

      .auto-group-fqbf-Gt9 {
        width: 117.7rem;
        height: 3.8rem;
        position: absolute;
        left: 0.2rem;
        top: 0;
        display: flex;
        align-items: flex-start;

        .riwayat-pemesanan-n5o {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 59.5rem;
          font-size: 3rem;
        }
        .button-gws {
          margin-right: 1.7rem;
          padding: 0.8rem 0.8rem 0.7rem 0.883rem;
          height: 100%;
          display: flex;
          border: solid 0.1rem #f0f2f4;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.8rem;

          .download-cloud-line-d6R {
            width: 1.8333rem;
            height: 1.5833rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.883rem 0.183rem 0rem;
          }
          .ekspor-XxV {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3999999762;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .button-1sf {
          box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.0599999987);
          background-color: #4946ff;
          border-radius: 0.8rem;
          flex-shrink: 0;
          padding: 0.8rem 0.8rem 0.7rem 1.217rem;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
          display: flex;

          .add-line-XLD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.217rem 0.1rem 0rem;
            width: 1.1667rem;
            height: 1.1667rem;
          }
          .tambah-pesanan-4L9 {
            font-weight: 400;
            line-height: 1.3999999762;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
      .auto-group-fggz-LYZ {
        display: flex;
        align-items: center;
        width: 65.6rem;
        height: 2.5rem;
        position: absolute;
        left: 0.2rem;
        top: 9.2rem;

        .semua-pembayaran-s2h {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #00579f;
        }
        .pembayaran-berhasil-axh {
          cursor: pointer;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .pengembalian-dana-tyP {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 2rem;
        }
      }
      .auto-group-vtoj-1o7 {
        width: 117.9rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 14.4rem;
        display: flex;
        align-items: center;

        .filters-9eR {
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin: 0.4rem 29.8rem 0.4rem 0rem;
          height: calc(100% - 0.8rem);
          display: flex;
          align-items: center;

          .dropdown-5ny {
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.6rem 0.776rem 0.6rem 0.933rem;
            height: 100%;
            display: flex;
            border-radius: 0.8rem;
            margin-right: 0.7362rem;
            box-sizing: border-box;
            border: solid 0.1rem #f0f2f4;

            .time-line-QqF {
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.933rem 0rem 0rem;
            }
            .tanggal-pesanan-k8R {
              flex-shrink: 0;
              margin-right: 1.1757rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4000000272;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .arrow-down-s-line-gGy {
              flex-shrink: 0;
              margin-top: 0.0148rem;
              width: 0.8485rem;
              height: 0.5186rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .dropdown-jm3 {
            margin-right: 1.2065rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border: solid 0.1rem #f0f2f4;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.6rem 0.633rem 0.6rem 1rem;
            height: 100%;
            border-radius: 0.8rem;

            .flag-line-H1s {
              flex-shrink: 0;
              margin: 0.067rem 1rem 0rem 0rem;
              width: 1.2rem;
              height: 1.2667rem;
              object-fit: contain;
              vertical-align: top;
            }
            .status-MXX {
              flex-shrink: 0;
              margin-right: 1.1757rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4000000272;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .arrow-down-s-line-Vdj {
              width: 0.8485rem;
              height: 0.5186rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0148rem;
            }
          }
          .dropdown-ncq {
            align-items: center;
            border: solid 0.1rem #f0f2f4;
            background-color: #ffffff;
            height: 100%;
            padding: 0.6rem 0.776rem 0.6rem 0.934rem;
            display: flex;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .bank-card-line-L8Z {
              margin-right: 0.933rem;
              width: 1.3333rem;
              height: 1.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .metode-pembayaran-suB {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.1757rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.4000000272;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
            }
            .arrow-down-s-line-1Vb {
              margin-top: 0.0148rem;
              width: 0.8485rem;
              height: 0.5186rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .input-search-htD {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 20.2rem 1rem 0.967rem;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #fafafa;

          .search-2-line-DrZ {
            margin: 0.026rem 0.941rem 0rem 0rem;
            width: 1.6928rem;
            height: 1.6928rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pencarian-pembayaran-Z9j {
            line-height: 1.4000000272;
            color: #959ba4;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-fzmt-5ds {
        width: 117.8051rem;
        height: 0.5rem;
        position: absolute;
        left: 0;
        top: 12.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-yg3b-pLZ {
        top: 64rem;
        display: flex;
        align-items: flex-start;
        width: 117rem;
        height: 2.8rem;
        position: absolute;
        left: 0;

        .hasil-pencarian-Y1f {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 73.7rem 0rem 0rem;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .frame-17-EfB {
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          margin-right: 1.5rem;
          background-color: #d83939;
          border-radius: 1.2rem;
          font-size: 1.8rem;
          line-height: 1.2125;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          width: 13.7rem;
          height: 100%;
          color: #ffffff;
        }
        .frame-16-LTK {
          color: #ffffff;
          align-items: center;
          background-color: #3a86d4;
          flex-shrink: 0;
          font-weight: 500;
          width: 13.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          height: 100%;
          justify-content: center;
          border-radius: 1.2rem;
          font-size: 1.8rem;
        }
      }
      .row-table-AhF {
        width: 125.2114rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1898rem;
        top: 28.05rem;

        .auto-group-ymfp-6au {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-DfX {
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
            width: 117.7102rem;
            height: 6.85rem;
          }
          .checkbox-KyT {
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.354rem 0.139rem 0.354rem 0.139rem;
            width: 1.6786rem;
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;

            .selection-odj {
              width: 100%;
              height: 100%;
              border-radius: 0.4rem;

              .bg-Ngq {
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
                border-radius: 0.4rem;
              }
            }
          }
          .tag-UUy {
            box-sizing: border-box;
            height: 3.8rem;
            top: 1.8442rem;
            padding: 0.6rem 0rem 0rem 1.941rem;
            width: 11.8rem;
            position: absolute;
            left: 32.2077rem;
            display: flex;
            align-items: center;
            background-color: #edffe9;
            border-radius: 0.4rem;

            .checkbox-circle-fill-BeH {
              margin: 0rem 0.733rem 1.238rem 0rem;
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-yxfb-v65 {
              width: 7.7922rem;
              height: 100%;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3333333333;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.1808rem 0;
              display: flex;
              color: #165e3d;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .nov-2023-zbj {
            font-weight: 400;
            line-height: 1.4000000272;
            font-family: Inter, 'Source Sans Pro';
            width: 8.5rem;
            height: 2rem;
            position: absolute;
            top: 2.1077rem;
            font-size: 1.4rem;
            white-space: nowrap;
            left: 88.8596rem;
            color: #4b5563;
          }
          .c1774-7f3d-46ad90a4-svR {
            font-weight: 400;
            white-space: nowrap;
            height: 2rem;
            left: 5.875rem;
            font-size: 1.4rem;
            line-height: 1.4000000272;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            width: 18rem;
            position: absolute;
            top: 2.1077rem;
          }
          .alberto-niego-mW1 {
            left: 71.3395rem;
            top: 2.1077rem;
            font-weight: 500;
            line-height: 1.4285714286;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            height: 2rem;
            font-size: 1.4rem;
            white-space: nowrap;
            width: 6.8rem;
          }
          .rp-152500-5mb {
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.3rem;
            left: 50.4621rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            height: 2rem;
            position: absolute;
            line-height: 1.4000000272;
            color: #4b5563;
          }
          .arrow-down-s-line-ztZ {
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
            top: 3.0932rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8902rem;
          }
          .tag-LSd {
            left: 101.7102rem;
            top: 1.55rem;
            font-weight: 500;
            color: #165e3d;
            white-space: nowrap;
            height: 3.8rem;
            position: absolute;
            display: flex;
            font-size: 1.2rem;
            align-items: center;
            background-color: #edffe9;
            border-radius: 0.4rem;
            line-height: 1.3333333333;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            width: 11.8rem;
          }
          .bni-logo-1-zn5 {
            width: 4.4rem;
            height: 1.9rem;
            position: absolute;
            left: 66.7102rem;
            top: 2.15rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
          }
        }
      }
      .row-table-Viq {
        width: 125.2114rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1898rem;
        top: 55.45rem;

        .auto-group-fvh3-q21 {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-y8D {
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
            width: 117.7102rem;
            height: 6.85rem;
            position: absolute;
          }
          .checkbox-7ER {
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.354rem 0.139rem 0.354rem 0.139rem;
            width: 1.6786rem;

            .selection-D2Z {
              height: 100%;
              border-radius: 0.4rem;
              width: 100%;

              .bg-Nw3 {
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
                border-radius: 0.4rem;
                width: 100%;
              }
            }
          }
          .tag-teV {
            height: 3.8rem;
            left: 32.1805rem;
            display: flex;
            width: 11.8rem;
            padding: 0.6rem 0rem 0rem 0.639rem;
            position: absolute;
            top: 1.85rem;
            align-items: center;
            background-color: #e9ebff;
            border-radius: 0.4rem;
            box-sizing: border-box;

            .flag-2-fill-1DK {
              height: 1.2667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.757rem 1.133rem 0rem;
              width: 1.3093rem;
            }
            .auto-group-mjkh-j9K {
              padding: 0.2rem 0;
              width: 9.0942rem;
              font-weight: 500;
              color: #3d41ad;
              flex-shrink: 0;
              box-sizing: border-box;
              height: 100%;
              display: flex;
              font-size: 1.2rem;
              line-height: 1.3333333333;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .nov-2023-ndP {
            width: 8.5rem;
            position: absolute;
            top: 2.1077rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            height: 2rem;
            left: 88.8596rem;
            font-size: 1.4rem;
            line-height: 1.4000000272;
            color: #4b5563;
            white-space: nowrap;
          }
          .c1774-7j6d-46ad90a8-6ty {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4000000272;
            color: #4b5563;
            top: 2.1077rem;
            width: 17.8rem;
            height: 2rem;
            position: absolute;
            left: 5.875rem;
          }
          .card-csK {
            width: 13.4286rem;
            top: 2.15rem;
            display: flex;
            align-items: flex-start;
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding-right: 0.442rem;
            height: 2.6346rem;
            position: absolute;
            left: 66.2594rem;

            .mastercardlogosimbolo-Who {
              flex-shrink: 0;
              margin-right: 0.8393rem;
              width: 3.1474rem;
              height: 2.6346rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.4rem;
            }
            .alberto-niego-S5f {
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
            }
          }
          .rp-452500-NED {
            left: 50.4621rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            width: 8.6rem;
            height: 2rem;
            white-space: nowrap;
            position: absolute;
            line-height: 1.4000000272;
          }
          .arrow-down-s-line-tCZ {
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
            top: 3.0932rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .row-table-Pv1 {
        width: 125.2114rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1898rem;
        top: 34.9rem;

        .auto-group-y4fb-Wzd {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-S7b {
            width: 117.7102rem;
            height: 6.85rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
          }
          .checkbox-mff {
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.354rem 0.139rem 0.354rem 0.139rem;
            width: 1.6786rem;

            .selection-gnd {
              width: 100%;
              height: 100%;
              border-radius: 0.4rem;

              .bg-Fqj {
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
                border-radius: 0.4rem;
              }
            }
          }
          .tag-PS9 {
            padding: 0.8rem 3.542rem 1.4rem 2.192rem;
            position: absolute;
            top: 1.8rem;
            align-items: center;
            box-sizing: border-box;
            width: 11.8rem;
            height: 3.8rem;
            left: 32.2754rem;
            display: flex;
            background-color: #fff5e8;
            border-radius: 0.4rem;

            .time-fill-sMK {
              margin: 0rem 0.733rem 0rem 0rem;
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tag-label-aFj {
              color: #b4840a;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
          }
          .nov-2023-6js {
            white-space: nowrap;
            width: 8.6rem;
            height: 2rem;
            position: absolute;
            left: 88.8596rem;
            font-size: 1.4rem;
            line-height: 1.4000000272;
            font-family: Inter, 'Source Sans Pro';
            top: 2.1077rem;
            font-weight: 400;
            color: #4b5563;
          }
          .c1774-7g9d-46ad90a5-D3o {
            white-space: nowrap;
            height: 2rem;
            position: absolute;
            left: 5.875rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            color: #4b5563;
            width: 18.2rem;
            font-weight: 400;
            line-height: 1.4000000272;
            font-family: Inter, 'Source Sans Pro';
          }
          .rp-802500-67b {
            top: 2.1077rem;
            font-size: 1.4rem;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            width: 8.6rem;
            height: 2rem;
            position: absolute;
            white-space: nowrap;
            left: 50.4621rem;
            font-weight: 700;
            line-height: 1.4000000272;
          }
          .arrow-down-s-line-oGu {
            top: 3.0932rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
          }
          .alberto-niego-tp9 {
            width: 6.8rem;
            height: 2rem;
            top: 2.1rem;
            font-weight: 500;
            line-height: 1.4285714286;
            color: #4b5563;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 71.3394rem;
            font-size: 1.4rem;
            white-space: nowrap;
          }
          .bni-logo-2-cEM {
            border-radius: 0.5rem;
            width: 4.4rem;
            height: 1.9rem;
            position: absolute;
            left: 66.7102rem;
            top: 2.1rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .row-table-XcD {
        width: 125.2114rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1898rem;
        top: 41.75rem;

        .auto-group-fnbj-qN1 {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-BAy {
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
            width: 117.7102rem;
            height: 6.85rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .checkbox-Wj3 {
            box-sizing: border-box;
            padding: 0.354rem 0.139rem 0.354rem 0.139rem;
            width: 1.6786rem;
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;

            .selection-oCM {
              width: 100%;
              height: 100%;
              border-radius: 0.4rem;

              .bg-y6q {
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
                box-sizing: border-box;
                border-radius: 0.4rem;
              }
            }
          }
          .tag-W6m {
            align-items: center;
            background-color: #ffe9e9;
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding: 0.8rem 3.842rem 1.4rem 2.492rem;
            top: 1.85rem;
            display: flex;
            width: 11.8rem;
            height: 3.8rem;
            position: absolute;
            left: 32.2754rem;

            .indeterminate-circle-fill-na5 {
              margin: 0rem 0.733rem 0rem 0rem;
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .tag-label-USu {
              color: #b73131;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.2rem;
              font-weight: 500;
              line-height: 1.3333333333;
            }
          }
          .nov-2023-mB7 {
            line-height: 1.4000000272;
            font-family: Inter, 'Source Sans Pro';
            width: 8.7rem;
            height: 2rem;
            position: absolute;
            top: 2.1077rem;
            font-size: 1.4rem;
            font-weight: 400;
            white-space: nowrap;
            left: 88.8596rem;
            color: #4b5563;
          }
          .c1774-7h2d-46ad90a6-BEq {
            top: 2.1077rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            left: 5.875rem;
            font-weight: 400;
            line-height: 1.4000000272;
            color: #4b5563;
            white-space: nowrap;
            width: 18.3rem;
            height: 2rem;
            position: absolute;
          }
          .rp-152500-DBX {
            width: 8.3rem;
            height: 2rem;
            font-size: 1.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            color: #4b5563;
            position: absolute;
            left: 50.4621rem;
            top: 2.1077rem;
            font-weight: 700;
            line-height: 1.4000000272;
          }
          .arrow-down-s-line-hMb {
            object-fit: contain;
            vertical-align: top;
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
            top: 3.0932rem;
          }
          .card-RHb {
            left: 66.2595rem;
            top: 2.15rem;
            display: flex;
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding-right: 0.442rem;
            height: 2.6346rem;
            width: 13.4286rem;
            position: absolute;
            align-items: flex-start;

            .mastercardlogosimbolo-8xh {
              width: 3.1474rem;
              height: 2.6346rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-right: 0.8393rem;
            }
            .alberto-niego-eAM {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .row-table-N6M {
        width: 125.2114rem;
        height: 6.85rem;
        position: absolute;
        left: 0.1898rem;
        top: 48.6rem;

        .auto-group-yewm-5WZ {
          width: 120.8052rem;
          height: 100%;
          position: relative;

          .fila-Cr5 {
            width: 117.7102rem;
            height: 6.85rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: inset 0 -0.1rem 0 #e4e6e8);
            background-color: #fafafa;
          }
          .checkbox-TX7 {
            height: 2.1077rem;
            position: absolute;
            left: 1.6786rem;
            top: 2.3711rem;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.354rem 0.139rem 0.354rem 0.139rem;
            width: 1.6786rem;

            .selection-m21 {
              width: 100%;
              height: 100%;
              border-radius: 0.4rem;

              .bg-vvV {
                box-sizing: border-box;
                border-radius: 0.4rem;
                width: 100%;
                height: 1.4rem;
                border: solid 0.1rem #959ba4;
              }
            }
          }
          .tag-Sdw {
            position: absolute;
            display: flex;
            align-items: center;
            background-color: #edffe9;
            border-radius: 0.4rem;
            padding: 0.6rem 0rem 0rem 1.941rem;
            width: 11.8rem;
            height: 3.8rem;
            box-sizing: border-box;
            left: 32.2077rem;
            top: 1.8442rem;

            .checkbox-circle-fill-9YM {
              margin: 0rem 0.733rem 1.238rem 0rem;
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-3t8d-Gcy {
              white-space: nowrap;
              padding: 0.1808rem 0;
              height: 100%;
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
              line-height: 1.3333333333;
              color: #165e3d;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 7.7922rem;
              display: flex;
              font-size: 1.2rem;
            }
          }
          .nov-2023-k2M {
            color: #4b5563;
            white-space: nowrap;
            position: absolute;
            left: 88.8596rem;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 8.4rem;
            height: 2rem;
            top: 2.1077rem;
            line-height: 1.4000000272;
          }
          .c1774-7i3d-46ad90a7-etR {
            position: absolute;
            left: 5.875rem;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 17.7rem;
            height: 2rem;
            top: 2.1077rem;
            line-height: 1.4000000272;
            color: #4b5563;
          }
          .rp-602500-NJd {
            width: 8.6rem;
            top: 2.1077rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: #4b5563;
            white-space: nowrap;
            height: 2rem;
            position: absolute;
            left: 50.4621rem;
            line-height: 1.4000000272;
            font-family: Inter, 'Source Sans Pro';
          }
          .arrow-down-s-line-eG9 {
            top: 3.0932rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.8902rem;
            height: 0.6831rem;
            position: absolute;
            left: 114.7472rem;
          }
          .tag-yZK {
            background-color: #edffe9;
            border-radius: 0.4rem;
            height: 3.8rem;
            left: 101.7102rem;
            font-size: 1.2rem;
            justify-content: center;
            width: 11.8rem;
            align-items: center;
            top: 1.8rem;
            display: flex;
            line-height: 1.3333333333;
            white-space: nowrap;
            position: absolute;
            font-weight: 500;
            color: #165e3d;
            font-family: Inter, 'Source Sans Pro';
          }
          .card-fS9 {
            display: flex;
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding-right: 0.442rem;
            width: 13.4286rem;
            height: 2.6346rem;
            position: absolute;
            left: 66.2595rem;
            top: 2.1rem;
            align-items: flex-start;

            .mastercardlogosimbolo-xg9 {
              height: 2.6346rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-right: 0.8393rem;
              width: 3.1474rem;
            }
            .alberto-niego-VAH {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #4b5563;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .header-table-n9P {
        left: 0.1898rem;
        top: 21.2rem;
        box-shadow: inset 0 -0.1rem 0 #e4e6e8);
        box-sizing: border-box;
        padding: 1.4rem 15.958rem 1.45rem 1.679rem;
        position: absolute;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e3e5e7;
        background-color: #fafafa;
        width: 117.7102rem;
        height: 6.85rem;

        .checkbox-SUq {
          margin: 0.971rem 2.518rem 0.921rem 0rem;
          box-sizing: border-box;
          padding: 0.354rem 0.139rem 0.354rem 0.139rem;
          width: 1.6786rem;
          height: calc(100% - 1.8923rem);
          background-color: #ffffff;
          flex-shrink: 0;

          .selection-kEd {
            width: 100%;
            height: 100%;
            border-radius: 0.4rem;

            .bg-iSM {
              width: 100%;
              height: 1.4rem;
              border: solid 0.1rem #959ba4;
              box-sizing: border-box;
              border-radius: 0.4rem;
            }
          }
        }
        .kode-pembayaran-Dtu {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.4285714286;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          color: #374151;
          white-space: nowrap;
          margin: 0.05rem 11.735rem 0rem 0rem;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
        }
        .status-Kh3 {
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          white-space: nowrap;
          margin-right: 12.452rem;
          line-height: 1.4285714286;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          color: #374151;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .jumlah-2LZ {
          line-height: 1.4285714286;
          letter-spacing: 0.034rem;
          color: #374151;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.05rem 10.736rem 0rem 0rem;
          display: flex;
          text-transform: uppercase;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
        }
        .metode-pembayaran-Lc9 {
          max-width: 10.2rem;
          display: flex;
          line-height: 1.4285714286;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 11.2536rem;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.034rem;
          text-transform: uppercase;
          color: #374151;
        }
        .waktu-pesanan-2js {
          display: flex;
          letter-spacing: 0.034rem;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.4285714286;
          text-transform: uppercase;
          color: #374151;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .footer-5i9 {
    width: 145.6rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 1.6rem 0rem 0rem;

    .layer-2-2-bwP {
      margin: 3.9rem 27.5rem 0rem 0rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .copyright-vTs {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 1.2rem 0rem;
    }
    .auto-group-1gwd-SBK {
      margin: 0rem 27.4rem 3.2rem 0rem;
      width: 14.2rem;
      flex-shrink: 0;

      .auto-group-hcqh-At1 {
        margin-bottom: 4.9rem;
        width: 100%;
        height: 11.9rem;
        position: relative;

        .webcrafters-v6V {
          font-size: 1.6rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          color: #000000;
          width: 14.2rem;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 9.9rem;
          line-height: 1.2125;
        }
        .logo-destinasyik-3-D5b {
          width: 11.4rem;
          height: 11.4rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-pzeq-9E9 {
        margin-left: 0.6rem;
        display: flex;
        align-items: center;

        .instagram-HbF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 2.8rem;
          height: 2.8rem;
        }
        .tiktok-opV {
          margin-right: 1.3rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .whatsapp-Z2y {
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .layer-2-1-JFT {
      margin-top: 3.9rem;
      width: 36.3rem;
      height: 18.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
