
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-6-nqP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}
.admin-6-nqP .header-jEq {
  width: 100%;
  height: 11.9rem;
  position: relative;
  flex-shrink: 0;
}
.admin-6-nqP .header-jEq .rectangle-4-esb {
  width: 150.5rem;
  height: 11.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #ffffff;
}
.admin-6-nqP .header-jEq .logo-destinasyik-2-yey {
  width: 11.6rem;
  height: 11.6rem;
  position: absolute;
  left: 2rem;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.admin-6-nqP .header-jEq .beranda-4RX {
  width: 9.8rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  left: 86rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .header-jEq .kontak-wkD {
  width: 8.3rem;
  height: 3rem;
  position: absolute;
  left: 97.5rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .header-jEq .tentang-grD {
  width: 9.7rem;
  height: 3rem;
  position: absolute;
  left: 107.5rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .header-jEq .tour-guide-CpZ {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 118.9rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .header-jEq .male-user-VYm {
  width: 5.8rem;
  height: 5.8rem;
  cursor: pointer;
  position: absolute;
  left: 134.6rem;
  top: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-6-nqP .auto-group-id7f-BgV {
  margin-right: 6.2rem;
  width: calc(100% - 6.2rem);
  height: 91.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim {
  box-sizing: border-box;
  padding: 1.6rem 2.5rem 53.7rem 2rem;
  width: 24.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .auto-group-jrc9-R53 {
  margin: 0rem 4.7rem 2.2rem 0rem;
  width: calc(100% - 4.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .auto-group-jrc9-R53 .male-user-YfT {
  margin-right: 2rem;
  width: 5.8rem;
  height: 5.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .auto-group-jrc9-R53 .admin-UJD {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .tempat-7c5 {
  margin: 0rem 10.3rem 1.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .tambah-tempat-D9K {
  margin: 0rem 3.8rem 2rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .edit-tempat-6iu {
  margin: 0rem 7.1rem 4.6rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .pemandu-wisata-dD3 {
  margin: 0rem 0rem 1.5rem 0.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .tambah-pemandu-Yau {
  margin: 0rem 1.5rem 0.5rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-p2d7-Wim .auto-group-wbqd-gBK {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.2rem 0.8rem 1.1rem 0.8rem;
  width: 18.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #398bd7;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 {
  box-sizing: border-box;
  padding: 4.5rem 0rem 2.8rem 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b {
  margin-right: 7.8rem;
  width: 78rem;
  height: 100%;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-x5k7-zrD {
  box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-x5k7-zrD .mengedit-pemandu-wisata-k4h {
  margin-bottom: 4.3rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-x5k7-zrD .nama-fxM {
  margin-bottom: 0.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-x5k7-zrD .auto-group-wwwr-cch {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 1.7rem 2.2rem 2rem 2.2rem;
  width: 37rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-x5k7-zrD .kemampuan-bahasa-T7X {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-53jz-ZRT {
  margin-bottom: 10.3rem;
  width: 100%;
  display: flex;
  column-gap: 5rem;
  align-items: flex-end;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-53jz-ZRT .auto-group-l6nd-G4y {
  margin-bottom: 0.1rem;
  box-sizing: border-box;
  padding: 1.9rem 2.2rem 1.8rem 2.2rem;
  width: 37rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-53jz-ZRT .auto-group-ufkw-4mX {
  width: 15.5rem;
  height: 6.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-53jz-ZRT .auto-group-swym-Xf7 {
  width: 15.5rem;
  height: 6.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a3a3a3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .foto-Dnq {
  margin-left: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w {
  box-sizing: border-box;
  padding: 1.9rem 0.3rem 0rem 0.6rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV {
  margin-bottom: 2.8rem;
  width: 100%;
  height: 20.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-pm1b-pXj {
  margin: 0.1rem 8.1rem 0.1rem 0rem;
  width: 20.4rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-pm1b-pXj .rectangle-68-82d {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0.3rem;
  top: 0.1rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-pm1b-pXj .image-10-dzy {
  width: 20.4rem;
  height: 20.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-cv9p-Nhf {
  margin-right: 8rem;
  width: 20.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-cv9p-Nhf .rectangle-69-vUH {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0.1rem;
  top: 0.2rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-cv9p-Nhf .image-24-RR3 {
  width: 20.3rem;
  height: 20.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-yt9k-N5P {
  width: 20.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-yt9k-N5P .rectangle-70-tZX {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0.1rem;
  top: 0.2rem;
  border: dashed 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-4exz-JJV .auto-group-yt9k-N5P .image-22-RJZ {
  width: 20.3rem;
  height: 20.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-xma1-9kM {
  margin: 0rem 10.4rem 2rem 41.4rem;
  width: calc(100% - 51.8rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-xma1-9kM .auto-group-yvbo-gEV {
  margin-right: 3.4rem;
  width: 10.1rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #929292;
  border-radius: 1rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-xma1-9kM .auto-group-y4eu-Nt1 {
  width: 11.8rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1363b4;
  border-radius: 1rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-peiv-T5b .auto-group-pyfp-N9w .auto-group-tac9-ead {
  margin-right: 12.8rem;
  width: 19.4rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bd0303;
  border-radius: 1rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-ws21-Kgm {
  margin-bottom: 13rem;
  box-sizing: border-box;
  padding: 3.3rem 5rem 3.2rem 5rem;
  width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #000000;
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-ws21-Kgm .add-image-RUu {
  margin-bottom: 1rem;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .auto-group-id7f-BgV .auto-group-dnps-wN9 .auto-group-ws21-Kgm .foto--xzd {
  margin-right: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 0rem 0rem;
  width: 145.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .layer-2-2-je1 {
  margin: 3.9rem 27.5rem 0rem 0rem;
  width: 36.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .copyright-QVF {
  margin: 0rem 0.3rem 1.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 {
  margin: 0rem 27.4rem 3.2rem 0rem;
  width: 14.2rem;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-kach-Pry {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 11.9rem;
  position: relative;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-kach-Pry .webcrafters-95T {
  width: 14.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 9.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-kach-Pry .logo-destinasyik-3-enu {
  width: 11.4rem;
  height: 11.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-zvbs-Bnq {
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-zvbs-Bnq .instagram-8CH {
  margin-right: 0.9rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-zvbs-Bnq .tiktok-3a9 {
  margin-right: 1.3rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .auto-group-f5bf-fg5 .auto-group-zvbs-Bnq .whatsapp-Pe1 {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-6-nqP .footer-Seu .layer-2-1-w9j {
  margin-top: 3.9rem;
  width: 36.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
