
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-dah-login-cwb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}
.home-dah-login-cwb .header-KLD {
  width: 100%;
  height: 11.9rem;
  position: relative;
  flex-shrink: 0;
}
.home-dah-login-cwb .header-KLD .rectangle-4-fQ5 {
  width: 150.5rem;
  height: 11.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #ffffff;
}
.home-dah-login-cwb .header-KLD .logo-destinasyik-2-BNR {
  width: 11.6rem;
  height: 11.6rem;
  position: absolute;
  left: 2rem;
  top: 0.3rem;
  object-fit: cover;
  vertical-align: top;
}
.home-dah-login-cwb .header-KLD .beranda-uZK {
  width: 9.8rem;
  height: 3rem;
  position: absolute;
  left: 86rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dah-login-cwb .header-KLD .kontak-bS9 {
  width: 8.3rem;
  height: 3rem;
  position: absolute;
  left: 97.5rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dah-login-cwb .header-KLD .tentang-K7F {
  width: 9.7rem;
  height: 3rem;
  position: absolute;
  left: 107.5rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dah-login-cwb .header-KLD .tour-guide-Rvy {
  width: 12.9rem;
  height: 3rem;
  position: absolute;
  left: 118.9rem;
  top: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dah-login-cwb .header-KLD .male-user-iv5 {
  width: 5.8rem;
  height: 5.8rem;
  cursor: pointer;
  position: absolute;
  left: 134.6rem;
  top: 2.6rem;
  object-fit: contain;
  vertical-align: top;
}
.home-dah-login-cwb .auto-group-ewwb-Ff7 {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 17.8rem 1.8rem 1.4rem 7.8rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/angga-kurniawan-czqafesyzci-unsplash-1-bg-rZo.png');
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-ewwb-Ff7 .bingung-mau-pergi-kemana-destinasyik-solusi-nya-Njj {
  margin: 0rem 45.4rem 13.2rem 0rem;
  max-width: 89rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-ewwb-Ff7 .easy-way-to-find-and-go-Emw {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .rekomendasi-bulan-ini-5Xf {
  margin-right: 0.6rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb {
  box-sizing: border-box;
  padding: 4.2rem 8rem 4.4rem 7.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo {
  margin: 0rem 9.7rem 6.1rem 9.6rem;
  width: calc(100% - 19.3rem);
  height: 35rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf {
  box-sizing: border-box;
  padding-right: 4.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-k4zd-YJm {
  margin-right: 4.3rem;
  box-sizing: border-box;
  padding: 1.8rem 2.7rem 1rem 2.7rem;
  width: 33.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-k4zd-YJm .malioboro-ESV {
  margin: 0rem 16.3rem 1.7rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-k4zd-YJm .image-1-XgV {
  margin: 0rem 0.1rem 1.8rem 0rem;
  width: 28rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-k4zd-YJm .jalan-ikonik-di-yogyakarta-pusat-perbelanjaan-dan-hiburan-malam-dengan-suasana-khas-pedagang-kaki-lima-dan-lampu-neon-yang-menarik-Ta9 {
  margin: 0rem 1.2rem 0.9rem 0rem;
  max-width: 26.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-k4zd-YJm .back-arrow-UEM {
  margin-left: 24.7rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-wmu3-FeR {
  box-sizing: border-box;
  padding: 1.8rem 2.6rem 1rem 2.7rem;
  width: 33.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-wmu3-FeR .candi-prambanan-9zh {
  margin: 0rem 7.4rem 1.7rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-wmu3-FeR .image-2-sfo {
  margin: 0rem 0.2rem 1.8rem 0rem;
  width: 28rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-wmu3-FeR .keindahan-hindu-abad-ke-9-di-yogyakarta-siluet-megah-dan-relief-ukiran-menciptakan-potret-budaya-indonesia-yang-memukau-WCy {
  margin: 0rem 2.6rem 0.9rem 0rem;
  max-width: 25.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-eagh-Pwf .auto-group-wmu3-FeR .back-arrow-meh {
  margin-left: 24.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-zgau-3cD {
  box-sizing: border-box;
  padding: 1.7rem 2.8rem 1.8rem 2.6rem;
  width: 33.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-zgau-3cD .keraton-jogja-N8h {
  margin: 0rem 11.8rem 1.8rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-zgau-3cD .image-3-Gzm {
  margin: 0rem 0rem 1.8rem 0.1rem;
  width: 28rem;
  height: 14rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-zgau-3cD .keelokan-arsitektur-jawa-kehijauan-taman-dan-pesona-sejarah-yang-terpancar-suasana-hangat-dan-detail-artistik-yang-memikat-perhatian-D9K {
  margin: 0rem 1.2rem 0.2rem 0rem;
  max-width: 26.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-jj3f-UZo .auto-group-zgau-3cD .back-arrow-4Qq {
  margin-left: 24.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF {
  margin: 0rem 9.7rem 5.2rem 8.9rem;
  width: calc(100% - 18.6rem);
  height: 3.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-pwgh-HoP {
  width: 4.1rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a86d4;
  border-radius: 2rem 0 0 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-gqzt-myT {
  margin-right: 48.6rem;
  box-sizing: border-box;
  padding: 0rem 2rem 0rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0 2rem 2rem 0;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-gqzt-myT .non-wisata-VuT {
  margin: 0.1rem 1rem 0rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-gqzt-myT .rectangle-28-xo3 {
  margin-right: 1.6rem;
  width: 0.2rem;
  height: 3.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-gqzt-myT .wisata-TE1 {
  margin-top: 0.1rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-sh5s-MqB {
  box-sizing: border-box;
  padding: 0.3rem 10rem 0.2rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-sh5s-MqB .search-taD {
  margin: 0.2rem 5.7rem 0rem 0rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-seuy-mKF .auto-group-sh5s-MqB .search-pTs {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #7e7e7e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po {
  margin-bottom: 3.6rem;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  height: 27.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .image-2-1oF {
  margin-right: 4.5rem;
  width: 52.7rem;
  height: 24.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .frame-2-wB7 {
  margin: 1.35rem 0;
  width: 68.2rem;
  height: calc(100% - 2.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .frame-2-wB7 .auto-group-mbz1-5HK {
  box-sizing: border-box;
  padding-bottom: 6.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .frame-2-wB7 .auto-group-mbz1-5HK .pantai-parangtritis-DuK {
  margin-bottom: 1.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .frame-2-wB7 .auto-group-mbz1-5HK .keindahan-pasir-putih-ombak-menarik-dan-nuansa-mistis-aktivitas-seru-dan-budaya-bersatu-dalam-destinasi-singkat-x6D {
  max-width: 64.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-3-5Po .frame-2-wB7 .frame-1-REh {
  width: 100%;
  height: 4.4rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3986d8;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 {
  margin-bottom: 3.6rem;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  height: 26.2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .image-2-oW9 {
  margin-right: 4.5rem;
  width: 52.7rem;
  height: 23.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .frame-2-id7 {
  margin: 0.6rem 0;
  width: 68.2rem;
  height: calc(100% - 1.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .frame-2-id7 .auto-group-7twx-G8q {
  box-sizing: border-box;
  padding-bottom: 6.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .frame-2-id7 .auto-group-7twx-G8q .candi-prambanan-oeZ {
  margin-bottom: 1.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .frame-2-id7 .auto-group-7twx-G8q .keindahan-hindu-abad-ke-9-di-yogyakarta-siluet-megah-dan-relief-ukiran-menciptakan-potret-budaya-indonesia-yang-memukau-vUH {
  max-width: 63.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-4-f93 .frame-2-id7 .frame-1-o2H {
  width: 100%;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3986d8;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd {
  margin-bottom: 3.6rem;
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  height: 29.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .image-14-krd {
  margin-right: 4.5rem;
  width: 52.8rem;
  height: 26.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .frame-2-TFF {
  width: 68.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .frame-2-TFF .auto-group-3ist-c89 {
  box-sizing: border-box;
  padding-bottom: 3.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .frame-2-TFF .auto-group-3ist-c89 .tepi-sawah-coffee-eatery-wgD {
  margin-bottom: 1.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .frame-2-TFF .auto-group-3ist-c89 .sesuai-namanya-kafe-ini-tepat-berada-di-tepi-sawah-dengan-bangunan-utama-berbentuk-joglo-kafe-ini-mengusung-konsep-tradisional-jawa-tepi-sawah-juga-menyediakan-outdoor-yang-pastinya-seru-saat-dipakai-untuk-berkumpul-dengan-keluarga-maupun-teman-paling-pas-datang-ke-kafe-ini-saat-sore-hari-sembari-menikmati-sunset-RbP {
  max-width: 68rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .frame-6-2vd .frame-2-TFF .frame-1-2r5 {
  width: 100%;
  height: 4.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3986d8;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-vvdx-H1K {
  margin: 0rem 51.8rem 0rem 51.9rem;
  width: calc(100% - 103.7rem);
  height: 3.5rem;
  display: flex;
  column-gap: 2.1rem;
  align-items: center;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-vvdx-H1K .auto-group-e1vs-Aqo {
  width: 4.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-vvdx-H1K .auto-group-tadf-rid {
  width: 4.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-vvdx-H1K .auto-group-7wbj-6ss {
  width: 4.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .auto-group-6ppw-Bqb .auto-group-vvdx-H1K .auto-group-6ehw-o1b {
  width: 4.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem #3a86d4;
  background-color: #f2f2f2;
  border-radius: 2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 0rem 0rem;
  width: 145.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .layer-2-2-cUq {
  margin: 3.9rem 27.5rem 0rem 0rem;
  width: 36.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .copyright-vVX {
  margin: 0rem 0.3rem 1.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ {
  margin: 0rem 27.4rem 3.2rem 0rem;
  width: 14.2rem;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-vfpd-mW9 {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 11.9rem;
  position: relative;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-vfpd-mW9 .webcrafters-igH {
  width: 14.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 9.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-vfpd-mW9 .logo-destinasyik-3-bzy {
  width: 11.4rem;
  height: 11.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-kroo-7TX {
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-kroo-7TX .instagram-TXP {
  margin-right: 0.9rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-kroo-7TX .tiktok-kmP {
  margin-right: 1.3rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .auto-group-5mow-TEZ .auto-group-kroo-7TX .whatsapp-uPP {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dah-login-cwb .footer-5jo .layer-2-1-ebs {
  margin-top: 3.9rem;
  width: 36.3rem;
  height: 18.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
